@charset "utf-8";
/* 样式初始化 */
*{ margin:0px; padding:0px;}
li{ list-style:none;}
a{ text-decoration:none;}
input:focus{ outline:none;}
/* top */
.topGuide{ height:40px; background:#333333;}
.topGuide .wp{ width:1200px; margin:0px auto;}
.topGuide .wp p{ line-height:40px; color:white; font-size:14px; float:left; margin-left:8px;}
.topGuide .wp .topRight{ float:right;}
.topRight ul{ float:right; margin-right:20px;}
.topRight ul li{ float:left; line-height:40px; color:white; font-size:14px;}
.topRight ul li a{ color:white; margin:0px 5px;}
.topRight ul li a:hover{ color:#0CF;}
.topRight .shopCar{ float:right; color:white; font-size:14px; line-height:40px; background:#4b4b4b; width:100px;}
.topRight .shopCar:hover{ color:#0CF;}
.topRight .shopCar img{ vertical-align:middle; margin:0px 3px 0px 3px;}
/* nav */
.nav{ width:1200px; margin:0px auto; margin-top:20px; margin-bottom:15px; overflow:hidden;}
.nav h3{ float:left;}
.nav ul{ float:left; margin-left:80px; margin-top:50px;}
.nav ul li{ float:left; margin:0px 10px;}
.nav ul li a{ font-size:18px; color:#4b4b4b;}
.nav ul li a:hover{ color:#1a10dd;}
.nav form{ float:right; width:395px; height:49px; margin-top:40px;}
.nav form input.text{ width:346px; height:47px; border-bottom:1px solid #cccbcb; border-top:1px solid #cccbcb; border-left:1px solid #cccbcb; float:right; border-right:none; color:#dad9d9; text-indent:13px;}
.nav form input.btn{ float:right; width:48px; height:49px; text-indent:-9999px; background:url(../images/sousou.jpg) no-repeat; border:none; cursor:pointer;}
/* content */
.content{ border-top:1px solid #ebeaea; clear:both;}
.banner{ width:1200px; margin:0px auto; position:relative;}
.banner .sort{ position:absolute; background:rgba(11,39,76,0.7); top:0px; left:0px; width:236px; height:460px;}
.banner .sort ul{ margin-top:50px;}
.banner .sort ul li{ float:left; width:118px; text-align:center; cursor:pointer; height:35px; line-height:35px;}
.banner .sort ul li:hover{ background:black;}
.banner .sort ul li a{ color:white;}
.banner .icon{ position:absolute; bottom:15px; right:35px;}
.banner .current{ background:url(../images/index_19.png) no-repeat; text-indent:-9999px; transition:all 0.5s;}
.banner span{ background:url(../images/index_17.png) no-repeat; text-indent:-9999px; width:16px; height:16px; display:inline-block; margin:0px 9px; cursor:pointer;}
.content h3{ background:url(../images/index_13.jpg) no-repeat center; text-align:center;}
.content h3 strong{ display:block; font-weight:normal; color:#8b8a8a; font-size:22px; margin-bottom:10px; padding-top:40px;}
.content h3 span{ font-size:22px; font-weight:normal; color:#bab8b9;}
.course{ width:1200px; margin:0px auto; margin-top:30px;}
.course dl{ width:277px; height:231px; border:1px solid #edebeb; text-align:center; float:left;}
.course dl:not(:last-child){ margin-right:28px;}
.course dl dt{ margin-top:40px; margin-bottom:20px;}
.course dl dd a{ display:block; color:#656764; font-size:16px;}
.course dl dd a:hover{ color:#0CF;}
.course dl dd span{ display:block; color:#9a9899; font-size:12px;}
/* footer */
.footer{ clear:both; width:1200px; margin:0px auto; overflow:hidden;}
.footer h3{ font-weight:normal; font-size:12px; text-align:center; border-top:1px solid #edebeb; border-bottom:1px solid #edebeb; margin-top:37px; padding:15px 0px; margin-bottom:30px;}
.footer h3 strong{ color:#2f3331; margin-right:10px;}
.footer h3 a{ color:#2f3331; margin:0px 10px 0px 10px;}
.footer h3 a:hover{ color:#0CF;}
.footer p{ text-align:center; color:#656766; font-size:12px; margin-bottom:10px;}
.footer div{ text-align:center;}
.footer div a{ margin:0px 3px;}