<!DOCTYPE html>
<html>
    <head>
        <title>后台管理</title>
        <link rel="stylesheet" href="/css/global.css" type="text/css">
        <link rel="stylesheet" href="/css/backstage.css" type="text/css">
        <link rel="icon" href="/images/icon.ico">
    </head>
    <body>
        <script src="/js/jquery-1.11.3.min.js"></script>
        <script>
            (function(){
            })();
        </script>
    </body>
</html>