<!DOCTYPE html>
<html>
    <head>
        <title>上海二手房房产网，上海二手房交易信息，上海二手房出售 - 58安居客</title>
        <link rel="stylesheet" href="./css/global.css" type="text/css">
        <link rel="stylesheet" href="./css/list.css" type="text/css">
        <link rel="icon" href="./images/icon.ico">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div class="top-nav  glbNavigation">
                    <div class="glbListNavigation1180 nav-content">
                        <ul class="L_tabsnew">
                            <li class="first-child">
                                <a href="javascript:;" class="a_navnew">首 页</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="a_navnew">新 房</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="a_navnew">二手房</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="a_navnew">租 房</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="a_navnew">商铺写字楼</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="a_navnew">海外地产</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="a_navnew">楼 讯</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="a_navnew">房产研究院</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="a_navnew">房 价</a>
                            </li>
                            <li class="last-child">
                                <a href="javascript:;" class="a_navnew">问 答</a>
                            </li>
                        </ul>
                        <div class="R_user">
                            <div class="login_info">
                                <div class="dropdown user-login l">
                                    <div class="title m">
                                        <a href="http://localhost:3000/login.html">登录</a>
                                        <a href="javascript:;">注册</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mid-nav">
                    <div class="glbListNavigation1180 nav-content">
                        <a href="javascript:;" class="logo"></a>
                        <span class="logo">二手房</span>
                        <div class="cur_citynew">
                            <div class="switch_apf_id_7">
                                <span class="city">上海</span>
                                <span class="city_icon"></span>
                            </div>
                            <div id="city-panel" class="city_panel" style="display: none;">
                                <dl>
                                    <dt>华北东北</dt>
                                    <dd>
                                        <a href="javascript:;" title="北京房产网">北京</a>
                                        <a href="javascript:;" title="天津房产网">天津</a>
                                        <a href="javascript:;" title="大连房产网">大连</a>
                                        <a href="javascript:;" title="石家庄房产网">石家庄</a>
                                        <a href="javascript:;" title="哈尔滨房产网">哈尔滨</a>
                                        <a href="javascript:;" title="沈阳房产网">沈阳</a>
                                        <a href="javascript:;" title="太原房产网">太原</a>
                                        <a href="javascript:;" title="长春房产网">长春</a>
                                        <a href="javascript:;" title="威海房产网">威海</a>
                                        <a href="javascript:;" title="潍坊房产网">潍坊</a>
                                        <a href="javascript:;" title="呼和浩特房产网">呼和浩特</a>
                                        <a href="javascript:;" title="包头房产网">包头</a>
                                        <a href="javascript:;" title="秦皇岛房产网">秦皇岛</a>
                                        <a href="javascript:;" title="烟台房产网">烟台</a>
                                        <a href="javascript:;" title="保定房产网"></a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>华东地区</dt>
                                    <dd>
                                        <a href="javascript:;" title="上海房产网">上海</a>
                                        <a href="javascript:;" title="杭州房产网">杭州</a>
                                        <a href="javascript:;" title="苏州房产网">苏州</a>
                                        <a href="javascript:;" title="南京房产网">南京</a>
                                        <a href="javascript:;" title="无锡房产网">无锡</a>
                                        <a href="javascript:;" title="济南房产网">济南</a>
                                        <a href="javascript:;" title="青岛房产网">青岛</a>
                                        <a href="javascript:;" title="昆山房产网">昆山</a>
                                        <a href="javascript:;" title="宁波房产网">宁波</a>
                                        <a href="javascript:;" title="南昌房产网">南昌</a>
                                        <a href="javascript:;" title="福州房产网">福州</a>
                                        <a href="javascript:;" title="合肥房产网">合肥</a>
                                        <a href="javascript:;" title="徐州房产网">徐州</a>
                                        <a href="javascript:;" title="淄博房产网">淄博</a>
                                        <a href="javascript:;" title="南通房产网">南通</a>
                                        <a href="javascript:;" title="常州房产网">常州</a>
                                        <a href="javascript:;" title="湖州房产网">湖州</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>华南地区</dt>
                                    <dd>
                                        <a href="javascript:;" title="深圳房产网">深圳</a>
                                        <a href="javascript:;" title="广州房产网">广州</a>
                                        <a href="javascript:;" title="佛山房产网">佛山</a>
                                        <a href="javascript:;" title="长沙房产网">长沙</a>
                                        <a href="javascript:;" title="三亚房产网">三亚</a>
                                        <a href="javascript:;" title="惠州房产网">惠州</a>
                                        <a href="javascript:;" title="东莞房产网">东莞</a>
                                        <a href="javascript:;" title="海口房产网">海口</a>
                                        <a href="javascript:;" title="珠海房产网">珠海</a>
                                        <a href="javascript:;" title="中山房产网">中山</a>
                                        <a href="javascript:;" title="厦门房产网">厦门</a>
                                        <a href="javascript:;" title="南宁房产网">南宁</a>
                                        <a href="javascript:;" title="泉州房产网">泉州</a>
                                        <a href="javascript:;" title="柳州房产网">柳州</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>中 西 部</dt>
                                    <dd>
                                        <a href="javascript:;" title="成都房产网">成都</a>
                                        <a href="javascript:;" title="重庆房产网">重庆</a>
                                        <a href="javascript:;" title="武汉房产网">武汉</a>
                                        <a href="javascript:;" title="郑州房产网">郑州</a>
                                        <a href="javascript:;" title="西安房产网">西安</a>
                                        <a href="javascript:;" title="昆明房产网">昆明</a>
                                        <a href="javascript:;" title="贵阳房产网">贵阳</a>
                                        <a href="javascript:;" title="兰州房产网">兰州</a>
                                        <a href="javascript:;" title="洛阳房产网">洛阳</a>
                                    </dd>
                                </dl>
                                <div class="blank">
                                    <a href="javascript:;">更多城市></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="./js/jquery-1.11.3.min.js"></script>
        <script>
            (function(){
                $(".cur_citynew").mouseover(function(){
                    $(".city_panel").show();
                });
                $(".cur_citynew").mouseout(function(){
                    $(".city_panel").hide();
                });
            })();
        </script>
    </body>
</html>