<!DOCTYPE html>
<html>
    <head>
        <title>上海二手房房产网，上海二手房交易信息，上海二手房出售 - 58安居客</title>
        <link rel="stylesheet" href="/css/global.css" type="text/css">
        <link rel="stylesheet" href="/css/view.css" type="text/css">
        <link rel="icon" href="/images/icon.ico">
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div class="glbListNavigation">
                    <div class="glbListNavigation1180">
                        <a class="logo"></a>
                        <div class="cur_citynew">
                            <div id="switch_apf_id_6" class="select_icon">
                                <span class="city">上海</span>
                                <span class="city_icon"></span>
                            </div>
                            <div id="city-panel" class="city_panel" style="display: none;">
                                <dl>
                                    <dt>华北东北</dt>
                                    <dd>
                                        <a href="javascript:;" title="北京房产网">北京</a>
                                        <a href="javascript:;" title="天津房产网">天津</a>
                                        <a href="javascript:;" title="大连房产网">大连</a>
                                        <a href="javascript:;" title="石家庄房产网">石家庄</a>
                                        <a href="javascript:;" title="哈尔滨房产网">哈尔滨</a>
                                        <a href="javascript:;" title="沈阳房产网">沈阳</a>
                                        <a href="javascript:;" title="太原房产网">太原</a>
                                        <a href="javascript:;" title="长春房产网">长春</a>
                                        <a href="javascript:;" title="威海房产网">威海</a>
                                        <a href="javascript:;" title="潍坊房产网">潍坊</a>
                                        <a href="javascript:;" title="呼和浩特房产网">呼和浩特</a>
                                        <a href="javascript:;" title="包头房产网">包头</a>
                                        <a href="javascript:;" title="秦皇岛房产网">秦皇岛</a>
                                        <a href="javascript:;" title="烟台房产网">烟台</a>
                                        <a href="javascript:;" title="保定房产网"></a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>华东地区</dt>
                                    <dd>
                                        <a href="javascript:;" title="上海房产网">上海</a>
                                        <a href="javascript:;" title="杭州房产网">杭州</a>
                                        <a href="javascript:;" title="苏州房产网">苏州</a>
                                        <a href="javascript:;" title="南京房产网">南京</a>
                                        <a href="javascript:;" title="无锡房产网">无锡</a>
                                        <a href="javascript:;" title="济南房产网">济南</a>
                                        <a href="javascript:;" title="青岛房产网">青岛</a>
                                        <a href="javascript:;" title="昆山房产网">昆山</a>
                                        <a href="javascript:;" title="宁波房产网">宁波</a>
                                        <a href="javascript:;" title="南昌房产网">南昌</a>
                                        <a href="javascript:;" title="福州房产网">福州</a>
                                        <a href="javascript:;" title="合肥房产网">合肥</a>
                                        <a href="javascript:;" title="徐州房产网">徐州</a>
                                        <a href="javascript:;" title="淄博房产网">淄博</a>
                                        <a href="javascript:;" title="南通房产网">南通</a>
                                        <a href="javascript:;" title="常州房产网">常州</a>
                                        <a href="javascript:;" title="湖州房产网">湖州</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>华南地区</dt>
                                    <dd>
                                        <a href="javascript:;" title="深圳房产网">深圳</a>
                                        <a href="javascript:;" title="广州房产网">广州</a>
                                        <a href="javascript:;" title="佛山房产网">佛山</a>
                                        <a href="javascript:;" title="长沙房产网">长沙</a>
                                        <a href="javascript:;" title="三亚房产网">三亚</a>
                                        <a href="javascript:;" title="惠州房产网">惠州</a>
                                        <a href="javascript:;" title="东莞房产网">东莞</a>
                                        <a href="javascript:;" title="海口房产网">海口</a>
                                        <a href="javascript:;" title="珠海房产网">珠海</a>
                                        <a href="javascript:;" title="中山房产网">中山</a>
                                        <a href="javascript:;" title="厦门房产网">厦门</a>
                                        <a href="javascript:;" title="南宁房产网">南宁</a>
                                        <a href="javascript:;" title="泉州房产网">泉州</a>
                                        <a href="javascript:;" title="柳州房产网">柳州</a>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>中 西 部</dt>
                                    <dd>
                                        <a href="javascript:;" title="成都房产网">成都</a>
                                        <a href="javascript:;" title="重庆房产网">重庆</a>
                                        <a href="javascript:;" title="武汉房产网">武汉</a>
                                        <a href="javascript:;" title="郑州房产网">郑州</a>
                                        <a href="javascript:;" title="西安房产网">西安</a>
                                        <a href="javascript:;" title="昆明房产网">昆明</a>
                                        <a href="javascript:;" title="贵阳房产网">贵阳</a>
                                        <a href="javascript:;" title="兰州房产网">兰州</a>
                                        <a href="javascript:;" title="洛阳房产网">洛阳</a>
                                    </dd>
                                </dl>
                                <div class="blank">
                                    <a href="javascript:;">更多城市></a>
                                </div>
                            </div>
                        </div>
                        <ul class="L_tabsnew">
                            <li class="li_single li_unselected">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">首 页</a>
                            </li>
                            <li class="li_single li_unselected li_itemsnew">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">新 房</a>
                                <div class="sec_divnew div_xinfang" style="display: none;">
                                    <div class="arrow_upnew" style="left: 20px;"></div>
                                    <a href="javascript:;" hidefocus="true" class="">新盘</a>
                                    <a href="javascript:;" hidefocus="true" class="">楼讯</a>
                                    <a href="javascript:;" hidefocus="true" class="">热门活动</a>
                                    <a href="javascript:;" hidefocus="true" class="">看房团</a>
                                    <a href="javascript:;" hidefocus="true" class="">房源</a>
                                    <a href="javascript:;" hidefocus="true" class="">商业地产</a>
                                    <a href="javascript:;" hidefocus="true" class="">海外地产</a>
                                    <a href="javascript:;" hidefocus="true" class="">品牌专区</a>
                                </div>
                            </li>
                            <li class="li_single li_selected li_itemsnew">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">二手房</a>
                                <div class="sec_divnew div_ershoufang" style="display: none;">
                                    <div class="arrow_upnew" style="left: 26px;"></div>
                                    <a href="javascript:;" hidefocus="true" class="">房源</a>
                                    <a href="javascript:;" hidefocus="true" class="">小区</a>
                                    <a href="javascript:;" hidefocus="true" target="_blank" class="underline">地图找房</a>
                                    <a href="javascript:;" hidefocus="true" class="">主题找房</a>
                                    <a href="javascript:;" hidefocus="true" class="">找经纪人</a>
                                    <a href="javascript:;" hidefocus="true" class="">优秀经纪人榜</a>
                                    <a href="javascript:;" hidefocus="true" class="">违规经纪人</a>
                                    <a href="javascript:;" hidefocus="true" class="">我要卖房</a>
                                </div>
                            </li>
                            <li class="li_single li_unselected li_itemsnew">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">租 房</a>
                                <div class="sec_divnew div_zufang" style="display: none;">
                                    <div class="arrow_upnew" style="left: 20.5px;"></div>
                                    <a href="javascript:;" hidefocus="true" class="">区域找房</a>
                                    <a href="javascript:;" hidefocus="true" class="">地铁找房</a>
                                    <a href="javascript:;" hidefocus="true" target="_blank" class="underline">地图找房</a>
                                    <a href="javascript:;" hidefocus="true" class="">小区</a>
                                    <a href="javascript:;" target="_blank" hidefocus="true" id="ppgy-58nav">品牌公寓</a>
                                </div>
                            </li>
                            <li class="li_single li_unselected li_itemsnew">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">商铺写字楼</a>
                                <div class="sec_divnew" style="display: none;">
                                    <div class="arrow_upnew" style="left: 42px;"></div>
                                    <div class="sec_navlist">
                                        <div class="third_navlist">
                                            <div class="third_nav_title">商铺</div>
                                            <a href="javascript:;">商铺出租</a>
                                            <a href="javascript:;">商铺出售</a>
                                            <a href="javascript:;">商铺新盘</a>
                                        </div>
                                        <div class="third_navlist">
                                            <div class="third_nav_title">写字楼</div>
                                            <a href="javascript:;">写字楼出租</a>
                                            <a href="javascript:;">写字楼出售</a>
                                            <a href="javascript:;">写字楼新盘</a>
                                        </div>
                                        <div class="third_navlist">
                                            <div class="third_nav_title">厂房</div>
                                            <a href="javascript:;">厂房出租</a>
                                            <a href="javascript:;">厂房出售</a>
                                            <a href="javascript:;">厂房转让</a>
                                        </div>
                                        <div class="third_navlist">
                                            <div class="third_nav_title">仓库</div>
                                            <a href="javascript:;">仓库出租</a>
                                            <a href="javascript:;">仓库出售</a>
                                            <a href="javascript:;">仓库转让</a>
                                        </div>
                                        <div class="third_navlist">
                                            <div class="third_nav_title">土地</div>
                                            <a href="javascript:;">土地出租</a>
                                            <a href="javascript:;">土地出售</a>
                                            <a href="javascript:;">土地转让</a>
                                        </div>
                                        <div class="third_navlist">
                                            <div class="third_nav_title">车位</div>
                                            <a href="javascript:;">车位出租</a>
                                            <a href="javascript:;">车位出售</a>
                                            <a href="javascript:;">车位转让</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="li_single li_unselected">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">海外地产</a>
                            </li>
                            <li class="li_single li_unselected">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">楼 讯</a>
                            </li>
                            <li class="li_single li_unselected">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">房产研究院</a>
                            </li>
                            <li class="li_single li_unselected">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">房 价</a>
                            </li>
                            <li class="li_single li_unselected">
                                <a class="a_navnew" hidefocus="true" href="javascript:;">问 答</a>
                            </li>
                        </ul>
                        <div class="R_user" style="height: 48px;float:right;">
                            <div class="login_info">
                                <div class="l" id="login_l">
                                    <div class="m">
                                        <a href="javascript:;" class="u_l">登录</a>
                                        <a href="javascript:;" class="u_r">注册</a>
                                    </div>
                                </div>
                                <div class="appContainer">
                                    <a class="downapp" href="javascript:;">
                                        <div class="apppic1"></div>
                                        <div class="apppic2"></div>
                                        <div class="apptext">下载APP</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="content">
                <div class="p_1180 p_crumbs">
                    <a href="https://shanghai.anjuke.com">上海房产网</a>
                     &gt; 
                    <a href="https://shanghai.anjuke.com/sale/">上海二手房</a>
                     &gt; 
                    <a href="https://shanghai.anjuke.com/sale/minhang/">闵行二手房</a>
                     &gt; 
                    <a href="https://shanghai.anjuke.com/sale/xinzhuangsh/">莘庄二手房</a>
                     &gt; 
                    <a href="https://shanghai.anjuke.com/community/view/6947">申莘二村</a>
                </div>
                <div class="clearfix title-guarantee">
                    <h3 class="long-title">繁华地段二村二期边套二居室，户型正气，自带权属车位，房东诚售  </h3>
                </div>
                <!--页面左侧-->
                <div class="wrapper">
                    <div class="wrapper-lf">
                        <div class="clearfix">
                            <div class="basic-info clearfix">
                                <span class="light info-tag"><em>229</em>万</span>
                                <span class="info-tag"><em>2</em>室<em>1</em>厅</span>
                                <span class="info-tag"><em>69.4</em>平方米</span>
                                <span class="info-tag no-border tag-cal">
                                    <img src="/images/view/3.png"/>房贷计算
                                </span>
                            </div>
                            <ul class="icon-list clearfix">
                                <li class="icon-item"><img class="anxuan_icon" src="/images/view/4.png" alt=""></li>
                                <li class="icon-item"><img class="safe_icon" src="/images/view/5.png" alt="">真实在售</li>
                                <li class="icon-item"><img class="safe_icon" src="/images/view/5.png" alt=""><span>无忧交易</span>
                                    <div class="tips-box-truesingleold">
                                        <p>本房源享受无忧交易保障，最高保额30万元，<a href="javascript:;" class="tip-link">了解保障规则&gt;</a></p>
                                        <em class="arrow-wrap"><em class="arrow"></em></em>
                                    </div>
                                </li>
                            </ul>
                            <div class="moreFunc">
                                <a rel="nofollow" href="javascript:;" class="moreFunc-entrance" id="js_report" target="_blank">
                                    <img src="/images/view/6_1.png"/>下载app举报
                                </a>
                                &nbsp;|&nbsp;
                                <a href="javascript:;" class="moreFunc-entrance" target="_blank">安选假赔百元细则</a>
                            </div>
                        </div>
                        <div class="switch_warpper">
                            <div class="switch_with_map">
                                <div class="inner_switcher" id="inner_switcher">
                                    <div class="switch_mask switch_left_mask" id="switch_left_mask" data-track="pc_fydy_switch_qh">
                                        <img src="/images/view/prev.png" class="prev"/>
                                        <span id="prev-title">环境图片</span>
                                    </div>
                                    <div class="switch_mask switch_right_mask" id="switch_right_mask" data-track="pc_fydy_switch_qh">
                                        <img src="/images/view/next.png" class="next"/>
                                        <span id="next-title">室内图片</span>
                                    </div>
                                    <div class="switch_wrap" id="switch_wrap" style="left:-1105px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/js/jquery-1.11.3.min.js"></script>
        <script>
            (function(){
                $(".cur_citynew").mouseover(function(){
                    $("#city-panel").show();
                });
                $(".cur_citynew").mouseout(function(){
                    $("#city-panel").hide();
                });
                $(".li_single").hover(function(){
                    if(!$(this).hasClass("li_selected"))
                        $(this).addClass("li_hover");
                    $(this).children(".sec_divnew").show();
                },function(){
                    $(this).removeClass("li_hover");
                    $(this).children(".sec_divnew").hide();
                });
                $(".icon-item:eq(2)").mouseover(function(){
                    $(".tips-box-truesingleold").show();
                });
                $(".icon-item:eq(2)").mouseout(function(){
                    $(".tips-box-truesingleold").hide();
                });
                $(".switch_left_mask").mouseover(function(){
                    $(this).children(".prev").attr("src","/images/view/prev_hover.png");
                });
                $(".switch_left_mask").mouseout(function(){
                    $(this).children(".prev").attr("src","/images/view/prev.png");
                });
                $(".switch_right_mask").mouseover(function(){
                    $(this).children(".next").attr("src","/images/view/next_hover.png");
                });
                $(".switch_right_mask").mouseout(function(){
                    $(this).children(".next").attr("src","/images/view/next.png");
                });
                $(".moreFunc-entrance").hover(function(){
                    $(this).children("img").attr("src","/images/view/6_2.png");
                },function(){
                    $(this).children("img").attr("src","/images/view/6_1.png");
                });
            })();
        </script>
    </body>
</html>