@charset "utf-8";
/*样式的初始化*/
*{ margin:0px; padding:0px;}
img{ border:0px none; vertical-align:top;}
li{ list-style:none;}
em,i{ font-style:normal;}
a{ text-decoration:none; color:#505050;}
a:hover{ color:#ff6400;}
input,textarea{ outline:none;}
body{ color:#000; font-size:12px; font-family:"宋体"; background:#fff;}
.clearFix{ width:950px; height:auto; margin:0px auto;}
.clearFix:after{ content:"."; visibility:hidden; display:block; clear:both; height:0;}
/*logo及导航部分*/
.logo{ float:left; width:185px; height:57px; margin:18px 0px 0px 10px;}
.logo a{ display:block; width:100%; height:45px;}
.logo a img{ float:left;}
.logo a span{ float:left; width:auto; height:27px; border-left:2px solid #ea5404; margin:10px 0px 0px 4px; padding-left:6px; line-height:27px; font-size:24px; color:#ea5404; font-family:"黑体";}
.search{ float:right; width:311px; height:19px; margin-top:34px;}
.login{ float:left; width:151px; height:19px; line-height:19px; font-size:13px;}
.login a{ color:#ff6400; text-decoration:underline; margin:0px 6px;}
.search_main{ float:left; width:auto; height:19px;}
.search_text{ float:left; width:94px; height:13px; line-height:13px; border:#d7d7d7 1px solid; color:#999; font-size:13px; padding:2px;}
.search_btn{ float:left; width:38px; height:19px; background:#f3f3f3; border:#d7d7d7 1px solid; margin-left:4px; font-size:13px; cursor:pointer; line-height:19px;}
.nav_all{ background:url(../images/nav_bg.png) no-repeat; height:40px;}
.nav{ float:left; width:auto; height:40px; margin-left:17px; display:inline;}
.nav li{ float:left; width:60px; height:40px; line-height:40px; padding:0px 21px 0px 16px; background:url(../images/nav_libg.png) no-repeat right top; font-size:14px; position:relative; z-index:4;}
.nav li.nav_w{ width:30px;}
.nav li a{ font-weight:bold; color:#8d0000;}
.nav li a:hover,.nav li.nav_cur a{ position:absolute; z-index:4; width:auto; top:6px; left:-7px; height:34px; background:url(../images/nav_hoverBg.png) no-repeat left top;}
.nav li a:hover span,.nav li.nav_cur a span{ float:left; width:auto; height:34px; background:url(../images/nav_hoverBg.png) no-repeat right top; margin-left:23px; padding-right:23px; color:#f9052d; cursor:pointer; white-space:nowrap; line-height:28px;}
.nav_right{ float:right; width:76px; height:40px; position:relative; z-index:3;}
.nav_right a{ line-height:40px; color:#c50505; font-size:12px; font-family:"宋体"; text-align:left; font-weight:bold;}
.nav_right i{ position:absolute; z-index:5; width:28px; height:20px; left:24px; top:-10px; background:url(../images/nav_new.png) no-repeat; text-indent:-9999px; overflow:hidden;}
/*小导航部分*/
.navSmall{ height:122px; background:url(../images/navSmall_bg.png) no-repeat; margin-top:5px;}
.navSmall dl{ float:left;}
.navSmall dl dt{ height:24px; line-height:24px; margin-top:6px;}
.navSmall dl dt a{ color:#ff6400; font-size:14px; font-weight:bold;}
.navSmall dl dt a:hover{ color:#505050;}
.navSmall dl dd{ float:left; height:21px; line-height:21px; margin-right:14px; display:inline; white-space:nowrap;}
.navSmall dl dd a{ color:#505050;}
.navSmall dl dd a:hover{ color:#ff6400;}
.navSmall_dl1{ width:90px; margin:0px 35px 0px 19px; display:inline;}
.navSmall_dl2{ width:140px;}
.navSmall_dl3{ width:175px; margin-left:22px;}
.navSmall dl.navSmall_dl3 dd{ margin-right:20px;}
.navSmall_dl4{ width:165px; margin-left:9px;}
.navSmall_dl5{ width:140px; margin-left:16px;}
.navSmall_dl6{ width:100px; margin-left:24px;}
/*第一部分*/
.area_first{ margin-top:9px;}
.areaFirst_left{ width:189px; height:auto; float:left;}
.areaFirst_middle{ width:522px; height:auto; float:left; margin-left:8px; display:inline;}
.areaFirst_right{ width:221px; float:right; height:auto;}
.areaFirst_L_notice{ width:187px; height:auto; border:1px solid #e0e0e0;}
.areaFirst_L_h3{ width:162px; height:31px; margin:1px 0px 0px 1px; background:url(../images/areaFirst_Lbg.png) no-repeat; line-height:31px; padding:0px 12px 0px 11px; font-size:14px;}
.areaFirst_L_h3 a{ float:right;}
.areaFirst_div{ width:100%; height:78px; overflow:hidden;}
.areaFirst_ul{ width:172px; height:auto; margin:7px 0px 0px 8px;}
.areaFirst_ul li{ width:100%; height:23px; border-bottom:1px dashed #e0e0e0; line-height:23px;}
.areaFirst_ul li em{ margin:0px 7px 0px 3px; color:#505050; font-family:Arial;}
.areaFirst_ul li a{ color:#ff6400;}
.areaFirst_ul li a:hover{ color:#505050;}
.areaFirst_L_ulImg{ width:187px; height:78px; padding-top:12px; margin-bottom:10px;}
.areaFirst_L_ulImg li{ float:left; width:79px; height:76px; border:1px solid #cdcdcd; margin:0px 1px 0px 8px; display:inline;}
.areaFirst_L_ulTitle{ height:auto; width:171px; overflow:hidden; margin-left:9px;}
.areaFirst_L_ulTitle li{ padding-left:13px; border-bottom:1px dashed #e0e0e0; height:23px; line-height:23px; position:relative;}
.areaFirst_L_ulTitle li i{ width:2px; height:2px; background:#505050; position:absolute; top:11px; left:6px;}
.areaFirst_L_div1{ padding-bottom:5px;}
.areaFirst_L_coupon{ margin-top:5px; padding-bottom:10px;}
.areaFirst_L_sell{ margin-top:6px; padding-bottom:14px;}
.areaFirst_M_flash{ width:516px; height:232px; padding:2px; border:#f1f1f1 1px solid; position:relative; z-index:6;}
.areaFirst_M_flaImg{ position:relative; z-index:5; width:516px; height:232px;}
.areaFirst_M_flaImg li{ width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:3;}
.areaFirst_M_flaImg li em{ position:absolute; left:0px; bottom:0px; width:488px; height:29px; background:url(../images/flash_btn.png) no-repeat; z-index:5; line-height:29px; padding-left:28px; color:#fff;}
.areaFirst_M_flaImg li a:hover em{ color:#ff6400;}
.areaFirst_M_flaBtn{ position:absolute; right:2px; bottom:8px; width:87px; height:16px; z-index:5;}
.areaFirst_M_flaBtn li{ float:left; width:16px; height:16px; margin-right:4px; display:inline; background:url(../images/flash_btn.png) no-repeat; text-indent:-99em; overflow:hidden;}
.areaFirst_M_flaBtn li.a_M_FB1{ background-position:0px -49px;}
.areaFirst_M_flaBtn li.a_M_FB2{ background-position:-20px -49px;}
.areaFirst_M_flaBtn li.a_M_FB3{ background-position:-40px -49px;}
.areaFirst_M_flaBtn li.a_M_FB4{ background-position:-60px -49px;}
.a_M_flaImgCur{ z-index:99;}
.areaFirst_M_news{ width:520px; height:auto; border:1px solid #e5e5e5; margin-top:10px;}
.areaFirst_M_h3{ width:496px; height:29px; margin:1px 0px 0px 1px; background:url(../images/hot_news_bg.png) no-repeat; line-height:29px; padding:0px 10px 0px 12px; font-size:14px;}
.areaFirst_M_h3 a{ float:right;}
/*公共的*/
.floatNone{
	clear:both;
}