html{
    font-size: 12px;
}
body,div,ul,li,input,dt,dd,dl,img,form,p,h1,h2,h3,h4,h5,h6,span,a,i{
    margin: 0;
    padding: 0;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f60 !important;
    text-decoration: underline;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
}
.hidden{
    visibility: hidden !important;
}
input{
    outline: none;
    font-family: "Microsoft YaHei", "宋体", Arial, "\5B8B\4F53", Helvetica, sans-serif;
}
img{
    border: none;
    display: inline-block;
}