html{
    font-size: 12px;
}
body,div,ul,li,input,dt,dd,dl,img{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    color: #f60 !important;
    text-decoration: underline;
}
.clearFix{
    width: 1180px;
    height: auto;
    margin: 0 auto;
}
.clearFix::after{
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}
/*top_aera*/
.top_area{
    height: 140px;
}
.top_area_div{
    position: relative;
    height: 70px;
}
.top_area_div span{
    position: absolute;
    display: block;
    color: white;
    bottom: 0px;
    right: 11px;
}
.top_area img{
    float: left;
    width: 1180px;
    height: 70px;
}
/*title_area*/
.title_area{
    height: 64px;
}
.title_area img{
    float: left;
    margin: 15px 20px 0 0;
}
.title_area .title_city_area{
    float: left;
    margin-top: 29px;
    position: relative;
    z-index: 30000;
}
.title_area .title_city_area .title_city_div1{
    width: 52px;
    height: 18px;
}
.title_area .city_panel{
    position: absolute;
    background-color: #f9f9f9;
    z-index: 30000;
    border: 1px solid #d8d8d8;
    width: 350px;
    padding: 7px 0 0 0;
    left: 0;
    top: 18px;
    border-radius: 0 0 4px 4px;
    display: none;
}
.title_area .city_panel dl{
    width: 322px;
    padding: 7px 0 6px 0;
    margin: 0 13px;
    border: 0;
    border-bottom: 1px solid #ccc;
    line-height: 23px;
    overflow: hidden;
    zoom: 1;
}
.title_area .city_panel dl dt{
    width: 72px;
    float: left;
    color: #666;
}
.title_area .city_panel dl dd{
    float: left;
    width: 250px;
    overflow: hidden;
    zoom: 1;
}
.title_area .city_panel dl dd a{
    color: #1a519f;
    float: left;
    padding: 0 11px 0 0;
    white-space: nowrap;
}
.title_area .city_panel .blank{
    float: left;
    height: 22px;
    line-height: 14px;
    width: 332px;
    text-align: right;
    margin-top: -3px;
    margin-left: 2px;
    background-color: #f9f9f9;
}
.title_area .city_panel .blank a{
    color: #1a519f;
}
.title_area .city{
    color: #666;
    line-height: 18px;
    cursor: pointer;
    font-style: normal;
    display: block;
    float: left;
}
.title_area .city_icon{
    display: block;
    float: left;
    background: url("../images/2.png") no-repeat 0 -148px;
    width: 19px;
    height: 7px;
    margin: 7px 0 0 9px;
    cursor: pointer;
}
.title_area ul{
    margin-top: 33px;
    float: right;
}
.title_area ul li{
    float: left;
}
.title_area ul li a{
    color: #797979;
    margin-right: 10px;
}
/*导航栏*/
.glbNav{
    width: 100%;
    height: 48px;
    background-color: #62ab00;
}
.glbNav1180{
    height: 100%;
}
.glbNav .L_tabsnew{
    display: inline-block;
    width: 900px;
    height: 100%;
}
.glbNav .L_tabsnew li{
    position: relative;
    display: block;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    float: left;
}
.glbNav .L_tabsnew .li_selected{
    background-color: #528e01;
    border-radius: 2px;
}
.glbNav .L_tabsnew li:hover{
    background-color: #4A8101;
}
.glbNav .L_tabsnew li .a_navnew{
    padding: 0 17px;
    font-size: 1.5rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.glbNav .L_tabsnew li .a_navnew:hover{
    color: #fff !important;
}
.glbNav .L_tabsnew .li_single .sec_divnew{
    position: absolute;
    left: 0;
    top: 48px;
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
    font-size: 1.333333rem;
    color: #666;
    border-radius: 0 0 4px 4px;
    padding: 0 10px 15px;
    line-height: 18px;
    z-index: 20000;
    display: none;
}
.sec_divnew a{
    display: block;
    white-space: nowrap;
    margin-top: 15px;
    padding: 0 15px 0 10px;
    color: #666;
}
.underline{
    border-top: 1px solid #ccc;
    padding-top: 15px !important;
}
.sec_divnew a:hover{
    color: #528E01 !important;
    text-decoration: none;
}
.sec_navlist{
    display: table;
}
.third_navlist{
    display: table-cell;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.third_navlist>a{
    margin-top: 16px;
    font-size: 1.166666rem;
    font-weight: 400;
    line-height: 14px;
    padding: 0;
}
.sec_divnew a{
    display: block;
    white-space: nowrap;
    padding: 0 8px 0 0px;
}
.arrow_upnew{
    background: url("../images/2.png") 0 -224px no-repeat;
    width: 14px;
    height: 10px;
    position: absolute;
    top: -6px;
}
.glbNav .R_user{
    height: 48px;
    float: right;
}
.glbNav .R_user .login_info{
    height: 100%;
    position: relative;
    z-index: 1001;
    white-space: nowrap;
    float: right;
}
.glbNav .R_user .login_info .l{
    float: left;
    width: 119px;
    height: 100%;
    padding-left: 10px;
    margin-right: 20px;
}
.glbNav .R_user .login_info .l .m{
    height: 48px;
    line-height: 48px;
    background: url("../images/2.png") no-repeat 0 15px;
    cursor: pointer;
    margin-right: 12px;
}
.m .u_l{
    color: white;
    margin-left: 23px;
    margin-right: 5px;
    outline: 0;
    font-size: 1.166666rem;
}
.m .u_r{
    color: white;
    outline: 0;
    font-size: 1.166666rem;
}
.glbNav .R_user .login_info .appContainer{
    padding-left: 2px;
    width: 120px;
    height: 48px;
    float: left;
    cursor: pointer;
}
.appContainer .downapp{
    width: 110px;
    height: 27px;
    border-radius: 2px;
    background-color: #dce8cc;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.appContainer .downapp:hover{
    background-color: #F2F6E3;
}
.downapp .apppic1{
    background: url("../images/2.png") no-repeat;
    display: inline-block;
    zoom: 1;
    margin-top: 3px;
    background-position: 0 -71px;
    width: 16px;
    height: 20px;
    margin-left: 5px;
}
.downapp .apppic2{
    width: 20px;
    height: 20px;
    background: url("../images/2.png") no-repeat;
    background-position: 0 -110px;
    zoom: 1;
    display: inline-block;
    margin-top: 3px;
}
.downapp .apptext{
    zoom: 1;
    display: inline-block;
    margin-top: 3px;
    color: #666;
    vertical-align: top;
    line-height: 22px;
    font-size: 1.166666rem;
}