.clearFix{
    width: 1180px;
    height: auto;
    margin: 0 auto;
}
.clearFix::after{
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}
.font-16{
    font-size: 1.333333rem;
}
.font-20{
    font-size: 1.666666rem;
}
input{
    outline: 0;
}
select,input{
    vertical-align: middle;
}
em{
    font-style: normal;
    font-weight: normal;
}
h1{
    font-family: "Hiragino Sans GB","Microsoft YaHei",tahoma,arial,simhei;
    font-size: 1.666666rem;
}
body{
    color:#333;
    font-family: "Microsoft YaHei","宋体",Arial,"\5B8B\4F53",Helvetica,sans-serif;
    font-size: 1rem;
}
a:link, a:visited, a:active{
    color: #0041d9;
    text-decoration: none;
    outline: 0;
}
h3{
    font-family: "Hiragino Sans GB","Microsoft YaHei",tahoma,arial,simhei;
}
img{
    display: inline-block;
    border:0;
}
/*头部广告区域*/
.top_area{
    height: 140px;
}
.top_area_div{
    position: relative;
    height: 70px;
}
.top_area_div span{
    position: absolute;
    display: block;
    color: white;
    bottom: 0px;
    right: 11px;
}
.top_area img{
    float: left;
    width: 1180px;
    height: 70px;
}
/*头部标题区域*/
.title_area{
    height: 64px;
}
.title_area img{
    float: left;
    margin: 15px 20px 0 0;
}
.title_area .title_city_area{
    float: left;
    margin-top: 29px;
    position: relative;
    z-index: 30000;
}
.title_area .title_city_area .title_city_div1{
    width: 52px;
    height: 18px;
}
.title_area .city_panel{
    position: absolute;
    background-color: #f9f9f9;
    z-index: 30000;
    border: 1px solid #d8d8d8;
    width: 350px;
    padding: 7px 0 0 0;
    left: 0;
    top: 18px;
    border-radius: 0 0 4px 4px;
    display: none;
}
.title_area .city_panel dl{
    width: 322px;
    padding: 7px 0 6px 0;
    margin: 0 13px;
    border: 0;
    border-bottom: 1px solid #ccc;
    line-height: 23px;
    overflow: hidden;
    zoom: 1;
}
.title_area .city_panel dl dt{
    width: 72px;
    float: left;
    color: #666;
}
.title_area .city_panel dl dd{
    float: left;
    width: 250px;
    overflow: hidden;
    zoom: 1;
}
.title_area .city_panel dl dd a{
    color: #1a519f;
    float: left;
    padding: 0 11px 0 0;
    white-space: nowrap;
}
.title_area .city_panel .blank{
    float: left;
    height: 22px;
    line-height: 14px;
    width: 332px;
    text-align: right;
    margin-top: -3px;
    margin-left: 2px;
    background-color: #f9f9f9;
}
.title_area .city_panel .blank a{
    color: #1a519f;
}
.title_area .city{
    color: #666;
    line-height: 18px;
    cursor: pointer;
    font-style: normal;
    display: block;
    float: left;
}
.title_area .city_icon{
    display: block;
    float: left;
    background: url("../images/2.png") no-repeat 0 -148px;
    width: 19px;
    height: 7px;
    margin: 7px 0 0 9px;
    cursor: pointer;
}
.title_area ul{
    margin-top: 33px;
    float: right;
}
.title_area ul li{
    float: left;
}
.title_area ul li a{
    color: #797979;
    margin-right: 10px;
}
/*导航栏区域*/
.glbNav{
    width: 100%;
    height: 48px;
    background-color: #62ab00;
}
.glbNav1180{
    height: 100%;
}
.glbNav .L_tabsnew{
    display: inline-block;
    width: 900px;
    height: 100%;
}
.glbNav .L_tabsnew li{
    position: relative;
    display: block;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    float: left;
}
.glbNav .L_tabsnew .li_selected{
    background-color: #528e01;
    border-radius: 2px;
}
.glbNav .L_tabsnew li:hover{
    background-color: #4A8101;
}
.glbNav .L_tabsnew li .a_navnew{
    padding: 0 17px;
    font-size: 1.5rem;
    display: inline-block;
    color: #fff;
    text-decoration: none;
}
.glbNav .L_tabsnew li .a_navnew:hover{
    color: #fff !important;
}
.glbNav .L_tabsnew .li_single .sec_divnew{
    position: absolute;
    left: 0;
    top: 48px;
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
    font-size: 1.333333rem;
    color: #666;
    border-radius: 0 0 4px 4px;
    padding: 0 10px 15px;
    line-height: 18px;
    z-index: 20000;
    display: none;
}
.sec_divnew a{
    display: block;
    white-space: nowrap;
    margin-top: 15px;
    padding: 0 15px 0 10px;
    color: #666;
}
.underline{
    border-top: 1px solid #ccc;
    padding-top: 15px !important;
}
.sec_divnew a:hover{
    color: #528E01 !important;
    text-decoration: none;
}
.sec_navlist{
    display: table;
}
.third_navlist{
    display: table-cell;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.third_navlist>a{
    margin-top: 16px;
    font-size: 1.166666rem;
    font-weight: 400;
    line-height: 14px;
    padding: 0;
}
.sec_divnew a{
    display: block;
    white-space: nowrap;
    padding: 0 8px 0 0px;
}
.arrow_upnew{
    background: url("../images/2.png") 0 -224px no-repeat;
    width: 14px;
    height: 10px;
    position: absolute;
    top: -6px;
}
.glbNav .R_user{
    height: 48px;
    float: right;
}
.glbNav .R_user .login_info{
    height: 100%;
    position: relative;
    z-index: 1001;
    white-space: nowrap;
    float: right;
}
.glbNav .R_user .login_info .l{
    float: left;
    width: 119px;
    height: 100%;
    padding-left: 10px;
    margin-right: 20px;
}
.glbNav .R_user .login_info .l .m{
    height: 48px;
    line-height: 48px;
    background: url("../images/2.png") no-repeat 0 15px;
    cursor: pointer;
    margin-right: 12px;
}
.m .u_l{
    color: white;
    margin-left: 23px;
    margin-right: 5px;
    outline: 0;
    font-size: 1.166666rem;
}
.m .u_r{
    color: white;
    outline: 0;
    font-size: 1.166666rem;
}
.glbNav .R_user .login_info .appContainer{
    padding-left: 2px;
    width: 120px;
    height: 48px;
    float: left;
    cursor: pointer;
}
.appContainer .downapp{
    width: 110px;
    height: 27px;
    border-radius: 2px;
    background-color: #dce8cc;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    text-decoration: none;
}
.appContainer .downapp:hover{
    background-color: #F2F6E3;
}
.downapp .apppic1{
    background: url("../images/2.png") no-repeat;
    display: inline-block;
    zoom: 1;
    margin-top: 3px;
    background-position: 0 -71px;
    width: 16px;
    height: 20px;
    margin-left: 5px;
}
.downapp .apppic2{
    width: 20px;
    height: 20px;
    background: url("../images/2.png") no-repeat;
    background-position: 0 -110px;
    zoom: 1;
    display: inline-block;
    margin-top: 3px;
}
.downapp .apptext{
    zoom: 1;
    display: inline-block;
    margin-top: 3px;
    color: #666;
    vertical-align: top;
    line-height: 22px;
    font-size: 1.166666rem;
}
/*内容区域*/
#content{
    position: relative;
    z-index: 1000;
    width: 1180px;
    margin: 0 auto;
}
.clearfix::after, #content::after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.left-cont{
    width: 870px;
}
.fl{
    float: left;
}
.right-cont{
    width: 286px;
}
.fr{
    float: right;
}
.cont-wrap{
    margin-bottom: 30px;
}
.m-t-box{
    margin-top: 10px;
}
.box{
    padding: 20px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.p-none{
    padding: 0;
}
.search-cont{
    height: 289px;
}
.clearfix, #content{}
.left-tabs{
    float: left;
    background-color: #f7f7f7;
    height: 289px;
    width: 139px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.left-tabs a:hover{
    text-decoration: none;
}
.tab{
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    display: block;
    width: 138px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 20px;
    color: #333;
    _position:relative;
    -moz-box-shadow:-1px 1px 0 #fff;
    -webkit-box-shadow:-1px 1px 0 #fff;
    box-shadow: -1px 1px 0 #fff;
}
.cur-tab{
    border-right: 1px solid #fff;
    background-color: #fff;
}
.h-tab{
    height: 73px;
}
.right-conts{
    float: left;
    height: 100%;
    width: 727px;
    position: relative;
    z-index: 1;
}
.search-form{
    position: relative;
    z-index: 899;
    display: inline-block;
}
.search-form{
    margin:24px 0 10px 26px;
}
.search-form .contsydc{
    margin-left: 5px;
    margin-bottom: 13px;
    font-size: 1.166666rem;
}
.sydc-type{
    margin-left: 32px;
    vertical-align: top;
    margin-top: 5px;
}
.fst-type{
    margin-left: 0;
}
.fd1{
    position: relative;
    padding: 7px;
    height: 47px;
    background: #ececec;
    border-radius: 5px;
    display: inline-block;
    z-index: 899;
}
.search-form .kw{
    padding: 11px 0 11px 17px;
    height: 22px;
    line-height: 22px;
    width: 372px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #999;
    font-size: 1.083333rem;
}
.search-form .kw:focus{
    border-color: #FF6600;
}
.fd1 .search-close{
    cursor: pointer;
    height: 19px;
    position: absolute;
    left: 370px;
    top: 20px;
    width: 19px;
    background-position: 0 -755px;
}
.home-icon{
    background: url("../images/1.png") no-repeat 0 0;
}
.fd1 a{
    position: relative;
}
.fd1 .icon-xzl{
    left: 8px;
}
.btn-icon{
    width: 30px;
    height: 35px;
    position: absolute;
    top: -12px;
    background: url("../images/1.png") no-repeat 15px -670px;
}
.fd1 a:hover{
    text-decoration: none;
}
.fd1 .btn{
    width: 125px;
    height: 45px;
    font-family: "microsoft yahei";
    border: 0;
    border-radius: 5px;
    color: #fff;
    font-size: 1.75rem;
    padding-left: 11px;
    margin-left: 3px;
    background-color: #ff911b;
}
.fd1 .btn:hover{
    background-color: #CE7412;
}
.fd1 .btn-w-sydc{
    width: 154px;
}
.fd1 .icon-xfzf{
    left: 12px;
}
.fd1 .icon-sp{
    left: 16px;
}
.fd1 .btn-bg-xf{
    background-color: #ff612a;
}
.fd1 .btn-bg-xf:hover{
    background-color: #CB4600;
}
.auto-wrap{
    background-color: #fff;
    width: 480px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 0;
    top: 36px;
    z-index: 899;
    display: none;
}
.auto-wrap{
    width: 389px;
    left: 7px;
    top: 53px;
}
.auto-grayback{
    background-color: #eee;
    cursor: pointer;
}
.search-ul{
    padding: 0;
    margin: 0;
    font-size: 1.08333rem;
}
.search-ul li{
    position: relative;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
}
.search-ul li .sou_tg{
    color: #f00;
    background-color: #ffead0;
}
.search-ul li .kan_tg{
    color: #4a8101;
    background-color: #e4f1df;
}
.search-ul li .recom_tg{
    color: #fff;
    background-color: #f60;
}
.search-ul li .font_tag{
    position: absolute;
    left: 6px;
    top: 7px;
    width: 34px;
    height: 15px;
    line-height: 1;
    padding-top: 1px;
    text-align: center;
}
.esf-search-ul li span.s_kw{
    margin-left: 36px;
}
.esf-search-ul li span, .esf-search-ul li label{
    display: inline-block;
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search-ul li .gray{
    color: #999;
    padding-left: 12px;
    font-size: 1rem;
}
.esf-search-ul li label{
    max-width: 117px;
}
.tab-contents{
    margin: 17px 20px 0 30px;
    position: relative;
    z-index: 888;
}
.float_l{
    float: left;
}
.details{
    width: 315px;
    position: relative;
}
.map i{
    position: absolute;
    width: 12px;
    height: 17px;
    left: 2px;
    background-position: -0px -560px;
}
.tab-contents a.map:link{
    color: #2c81cd;
}
.tab-contents a{
    display: inline-block;
    padding: 0 15px 14px 0;
    font-size: 1.08333rem;
}
.tab-contents .map{
    padding: 0 0 0 16px;
    position: absolute;
    left: 228px;
    top: 2px;
    font-size: 1.08333rem;
    background-position: -0px -560px;
    z-index: 900;
}
.tab-contents p{
    margin: 0;
    padding: 0;
    font-size: 1.333333rem;
    display: inline-block;
}
.areas{
    width: 100%;
    margin-top: 10px;
    max-height: 94px;
    overflow: hidden;
}
.tab-contents a:link, .tab-contents a:visited, .tab-contents a:active{
    color: #333;
}
.tab-contents a:hover, .tab-contents a.hot-word{
    color: #f60;
}
.prices{
    width: 100%;
    height: 33px;
    overflow: hidden;
    margin-top: 6px;
}
.line-mag{
    margin-right: 21px;
    margin-left: 23px;
}
.solid-line{
    width: 1px;
    height: 150px;
    background-color: #d8d8d8;
    margin-top: 5px;
}
.publish{
    float: left;
    margin: 7px 41px 0 31px;
    width: 360px;
}
p.saler-title{
    font-size: 2.416666rem;
    color: #f60;
    font-family: "microsoft yahei";
    margin-bottom: 35px;
}
.name-list{
    height: 45px;
    padding: 8px;
    border-radius: 5px;
    background-color: #ececec;
    margin: 0 auto;
    width: 344px;
}
.name-list input{
    width: 331px;
    height: 43px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 11px;
    color: #999;
}
.sale-btn-icon{
    position: absolute;
    left: 6px;
    top: 31px;
    width: 30px;
    height: 35px;
    background: url("../images/1.png") no-repeat 15px -670px;
}
.publish .free-pub, .publish .zhd-btn{
    padding: 0;
    margin-top: 31px;
    padding-left: 12px;
    width: 195px;
    height: 45px;
    line-height: 45px;
    font-size: 1.666666rem;
    font-family: "microsoft yahei";
    text-align: center;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #ff911b;
    background-position: 22px -670px;
}
.steps{
    float: left;
    padding-left: 28px;
    width: 215px;
}
.steps li{
    position: relative;
    padding-bottom: 8px;
    margin-top: -21px;
}
.steps i{
    position: relative;
    left: -30px;
    top: 27px;
    display: inline-block;
    zoom: 1;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 5px;
    background-color: #62ab00;
    color: #fff;
    font-weight: bolder;
    font-style: normal;
    text-align: center;
}
.steps p{
    display: block;
    font-size: 1.75rem;
    color: #333;
}
.steps em{
    color: #9D9D9D;
    font-size: 1rem;
    height: 46px;
    line-height: 22px;
    margin-top: 4px;
    display: block;
}
.tab-contents .one-map{
    left: 548px;
    top: -67px;
    width: 66px;
    font-size: 1.333333rem;
}
.hot-areas{
    padding-left: 4px;
    float: left;
    width: 232px;
}
.areas{
    width: 100%;
    margin-top: 10px;
    max-height: 94px;
    overflow: hidden;
}
.list-height{
    max-height: 126px;
}
.hot-plates{
    float: left;
    padding: 0px 14px 0px 24px;
    width: 222px;
}
.house-budget{
    float: left;
    padding-left: 22px;
    width: 153px;
}
/*新房优惠*/
.home-title{
    font-weight: bold;
    color: #333;
    display: block;
    margin-left: 20px;
    margin-bottom: 10px;
}
.home-title a, .home-title a:link, .home-title a:visited, .home-title a:active{
    font-family: "Hiragino Sans GB", "Microsoft YaHei", tahoma, arial, simhei;
    font-size: 1.666666rem;
    color: #333;
    cursor: pointer;
}
.newhouse-cont, .ershouRecomm-cont, .popGuide-cont, .ershouRecomm-cont, .ershouChoose-cont, .renthouse-cont, .hotcommercial-cont{
    width: 828px;
    overflow: hidden;
}
.newhouse-cont{
    position: relative;
    width: 870px;
    height: 412px;
    overflow: hidden;
}
.newhouse-ul li{
    float: left;
    margin-right: 22px;
}
.newhouse-li a{
    width: 382px;
    padding: 20px;
    height: 370px;
    display: block;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.newhouse-li p{
    color: #333333;
}
.newhouse-li p .sub-title{
    color: #333;
    font-size: 1.333333rem;
}
.newhouse-li a:hover{
    border: 1px solid #f60;
    text-decoration: none;
}
.newhouse-li a:hover p .sub-title{
    text-decoration: underline;
    color: #ff6600;
}
.newhouse-li-div {
    position:relative;
}
.newhouse-li-specialspan {
    position:absolute;
    right:10px;
    bottom:14px;
    color:white;
    font-size: 1rem;
}
.newhouse-li img{
    border: 0;
    width: 382px;
    height: 260px;
    margin-bottom: 12px;
}
.newhouse-li span{
    color: #999;
    font-size: 1.166666rem;
    display: block;
}
.buy-info {
    float:left;
    color: #ff6600;
    font-size: 2rem;
    line-height: 32px;
    font-weight: normal;
}
.buy-tip {
    float: right;
    height: 32px;
    line-height: 32px;
}
.newhouse-cont a.show-next,.newhouse-cont  a.show-pre {
    width: 38px;
    height: 39px;
    display: block;
    position: absolute;
    top: 132px;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.newhouse-cont a.show-next {
    right: 1px;
    background-color:#000;
    background-position: 8px -51px;
    width: 40px;
}
.newhouse-cont a.show-pre {
    left: 1px;
    background-color:#000;
    background-position: 5px -4px;
 }
.newhouse-cont a.show-next:hover,.newhouse-cont a.show-pre:hover{
    filter: alpha(opacity=60);
    opacity: 0.6;
}
/*右侧内容*/
.Entrusthouse-cont{
    width: 286px;
    height: 291px;
    margin: 10px 0 30px;
    background: #FFF0DC;
    overflow: hidden;
    background: url("../images/3.jpg") no-repeat;
}
.Entrusthouse-cont .btn-links{
    text-align: center;
    margin: 210px 0px 0px 0px;
}
.Entrusthouse-cont .btn-links .btn{
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #f60;
    font-size: 1.5rem;
    padding: 0 15px 0 15px;
    border-radius: 7px;
}
.Entrusthouse-cont .btn-links .publish-btn div{
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: -6px;
    margin-right: 6px;
    border-radius: 15px;
    background: #fff;
}
.Entrusthouse-cont .btn-links .publish-btn:hover{
    color: #fff !important;
    text-decoration: none;
    background: #E35000;
}
.Entrusthouse-cont .btn-links .publish-btn div i{
    display: block;
    width: 0;
    height: 0;
    margin: 5px 0px 0px 8px;
    border-width: 8px 0 8px 13px;
    border-style: solid;
    border-color: transparent transparent transparent #f60;
}
.Entrusthouse-cont .links{
    display: block;
    margin-top: 10px;
    text-align: center;
}
.Entrusthouse-cont .links a{
    color: #a65d34;
    font-size: 1.333333rem;
}
/*热门导购*/
.popGuide-cont{
    position: relative;
}
.popguide-scroll-ul{
    width: 2544px;
    padding: 0;
    margin: 0%;
}
.popguide-scroll-ul li {
    list-style: none;
    float: left;
    margin-right: 20px;
    position: relative;
    width: 828px;
}
.popguide-scroll-ul li a:hover p{
    color: #ff6600;
}
.big-guide {
    float: left;
}
.big-guide img {
    display: block;
    width: 403px;
    height: 335px;
}
.big-guide p {
    font-size: 1.666666rem;
    color: #333333;
    height: 54px;
    line-height: 54px;
    display: inline;
}
.small-guide {
    width: 425px;
    float: left;
    margin: 0;
    padding: 0;
}
.small-guide span {
    margin: 0px 0px 10px 22px;
    float: left;
}
.small-guide img{
    display: block;
    width: 190px;
    height: 130px;
}
.small-guide p {
    margin-top: 4px;
    margin-bottom: 5px;
    font-size: 1.333333rem;
    color: #333333;
    width: 190px;
    height: 56px;
    line-height: 28px;
}
.m-b-s-guid{
    margin-bottom: 10px;
}
.scroller-num {
    width: 84px;
    _width: 95px;
    margin: 6px 372px;
}
.scroller-num li{
    cursor: pointer;
    float: left;
    margin: 0 10px;
    list-style: none;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background-color: #BEBEBE;
    overflow: hidden;
}
.scroller-num .cur-num {
    background-color: #62ab00;
}

.popGuide-cont a.show-next,.popGuide-cont a.show-pre {
    width: 38px;
    height: 39px;
    display: block;
    position: absolute;
    top: 132px;
    filter: alpha(opacity=40);
    opacity: 0.4;
}
.popGuide-cont a.show-next {
    right: 0px;
    background-color:#000;
    background-position: 8px -51px;
    width: 40px;
}
.popGuide-cont a.show-pre {
    left: 0px;
    background-color:#000;
    background-position: 5px -4px;
 }
.popGuide-cont a.show-next:hover,.popGuide-cont a.show-pre:hover{
    filter: alpha(opacity=60);
    opacity: 0.6;
}
/*看房团*/
.seehouse-cont{
    position: relative;
    height: 410px;
    padding: 0;
}
.kft-box{
    box-sizing: border-box;
    padding: 15px 20px 0;
    width: 286px;
}
.kft-box-inner{
    position: relative;
    width: 246px;
    height: 361px;
    overflow: hidden;
}
.kftscroll{
    height: 361px;
}
.kftscroll .kftpage{
    float: left;
    width: 246px;
    position: relative;
    height: 100%;
}
.kftscroll h3{
    font-weight: bold;
    font-size: 1.666666rem;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kftscroll .kftpage li{
    margin-top: 23px;
    padding-left: 15px;
    background: url("../images/4.png") no-repeat 0 9px;
    vertical-align: middle;
}
.kftscroll .kftpage li h4{
    font-size: 1.166666rem;
    color: #333;
}
.kftscroll .kftpage li p{
    font-size: 1.166666rem;
    color: #999;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.kft-line_baoming{
    text-align: center;
    font-size: 1.083333rem;
    color: #999;
    position: absolute;
    bottom: 80px;
    width: 100%;
}
.kft-line_baoming .iconfont{
    color: #f60;
    margin-right: 5px;
}
.kft-link_btn{
    position: absolute;
    width: 220px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 1.666666rem;
    background: #62ab00;
    border-radius: 4px;
    cursor: pointer;
    bottom: 15px;
}
.kft-link_btn:hover{
    background: #477e00
}
.kftscroller-num{
    margin: 0 auto;
    text-align: center;
}
.kftscroller-num li{
    cursor: pointer;
    display: inline-block;
    margin: 0 4px;
    list-style: none;
    border-radius: 4px;
    width: 8px;
    height: 8px;
    background-color: #d8d8d8;
    overflow: hidden;
}
.kftscroller-num .cur-pointer{
    background-color: #62ab00;
}
.kft-a_link:hover{
    text-decoration: none;
}
/*特色楼盘*/
.popGuide-cont, .specialprop-cont{
    height: 426px;
    overflow: hidden;
}
.m-b-s-title{
    margin-bottom: 20px;
}
.border-b{
    border-bottom: 1px dashed #e6e6e6;
}
.specialprop-ul-title{
    margin-bottom: 15px;
}
.specialprop-ul-title a{
    font-family: "Microsoft YaHei","Hiragino Sans GB",tahoma,arial,simhei;
    display: inline-block;
    height: 24px;
    padding: 0 10px;
    border: 1px #62ab00 solid;
    line-height: 24px;
    text-align: center;
    font-size: 1.166666rem;
    color: #61ab00;
}
.specialprop-ul-title a:hover{
    text-decoration: none;
    color: #61ab00 !important;
    background-color: #F2FFE1;
}
.specialprop-ul-m-b{
    margin-bottom: 6px;
}
.xf-comm-dl-pad{
    padding-bottom: 13px;
}
.xf-comm-dl dt{
    width: 160px;
    float: left;
}
.xf-comm-dl dt a{
    color: #333;
    font-size: 1.166666rem;
    display: block;
    overflow: hidden;
}
.xf-comm-dl dt, .xf-comm-dl dd{
    font-family: "Microsoft YaHei","Hiragino Sans GB",tahoma,arial,simhei;
    overflow: hidden;
    line-height: 21px;
    color: #333;
    height: 21px;
    font-size: 1.166666rem;
}
.xf-comm-dl dd{
    font-size: 1.166666rem;
    width: 80px;
    float: right;
    text-align: right;
}
/*左侧广告*/
.left-1st-ad, .right-1st-ad, .left-2nd-ad, .right-2nd-ad, .left-3rd-ad, .right-3rd-ad, .left-4th-ad, .right-4th-ad{
    height: 95px;
    overflow: hidden;
}
.left-1st-ad{
    width: 870px;
}
/*热点追踪*/
.cont-wrap-fl{
    width: 560px;
    overflow: hidden;
}
.propmarket-cont{
    height: 478px;
    overflow: hidden;
}
.propmarket-ul li{
    padding-bottom: 22px;
    margin-bottom: 25px;
    border-bottom: 1px dashed #d8d8d8;
    display: block;
}
.propmarket-img{
    width: 160px;
    margin-right: 20px;
}
.propmarket-img img{
    width: 160px;
    height: 120px;
    border: 0;
}
.propmarket-info{
    width: 336px;
}
.font-14, .font-16, .font-18, .font-20, .font-24{
    font-family: "Microsoft YaHei","Hiragino Sans GB",tahoma,arial,simhei;
    font-weight: normal;
}
.propmarket-info h3 a{
    line-height: 30px;
    margin-bottom: 8px;
    color: #333;
    height: 30px;
    overflow: hidden;
    display: block;
}
.font-14{
    font-size: 1.166666rem;
}
.propmarket-info p{
    line-height: 26px;
    color: #999;
    height: 83px;
    overflow: hidden;
}
.propmarket-ul li.border-none{
    border-bottom: none;
}
/*实地探盘*/
.cont-wrap-fr{
    width: 286px;
}
.propmarket-cont, .field-cont, .newdynamic-cont{
    height: 478px;
    overflow: hidden;
}
.field-ul li{
    border-bottom: 1px dashed #d8d8d8;
    padding-bottom: 14px;
    margin-bottom: 20px;
}
.field-ul li.border-none{
    border-bottom: none;
}
.field-ul li img{
    width: 245px;
    height: 160px;
    border: 0;
}
.mar-top{
    margin-top: -2px;
}
.field-ul li p a{
    line-height: 28px;
    font-size: 1.333333rem;
    color: #333;
}
/*新房动态*/
.m-t-re-font{
    margin-top: 0px;
}
.newdynamic-ul-b{
    margin-bottom: 57px;
}
.newdynamic-ul-t{
    margin-top: -4px;
}
.con-list li{
    background: url("../images/4.png") no-repeat 0px 9px;
    vertical-align: middle;
    padding-left: 16px;
    overflow: hidden;
    padding-bottom: 20px;
    height: 20px;
    line-height: 20px;
}
.con-list li.xf-con-list{
    padding-bottom: 0px;
    margin-bottom: 25px;
}
.con-list li a{
    font-family: "Microsoft YaHei", "Hiragino Sans GB", tahoma, arial, simhei;
    font-size: 1.166666rem;
    color: #333;
}
/*二手房推荐小区*/
.ershouRecomm-cont, .pricetrend-cont{
    height: 360px;
    overflow: hidden;
}
.m-t-f-4{
    margin-top: -4px;

}
.m-b-con-jg{
    margin-bottom: 17px;
}
.ershouRecomm-w-t li{
    width: 404px;
}
.com-rec li{
    float: left;
}
.m-r-li-l{
    margin-right: 20px;
}
.m-b-title-con{
    margin-bottom: 15px;
}
.com-rec-title{
    color: #467E00;
    position: relative;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
}
.font-18{
    font-size: 1.5rem;
}
.com-rec-img, .com-rec-img img{
    border: 0;
    width: 180px;
    height: 135px;
    margin: 0;
    padding: 0;
    display: block;
}
.com-rimg-t{
    margin-top: 10px;
}
.m-t-con-con2{
    margin-top: 15px;
}
.com-rec-text dt, .com-rec-text dd{
    padding-bottom: 4px;
}
.com-rec-text dt, .com-rec-text dd, .com-rec-text dt a{
    line-height: 21px;
    font-family: "Microsoft YaHei", "Hiragino Sans GB", tahoma, arial, simhei;
    font-size: 1.166666rem;
    color: #333;
    overflow: hidden;
    width: 180px;
    height: 21px;
}
.com-rec-text dt em, .com-rec-text dd em{
    font-family: "tahoma";
    font-size: 1.166666rem;
}
address, caption, th, cite, code, em{
    font-style: normal;
    font-weight: normal;
}
.m-r-li{
    margin-right: 33px;
}
.ershouRecomm-cont ul li div a:hover dl dt,.ershouRecomm-cont ul li div a:hover dl dd{
    color: #f60 !important;
}
.m-t-img-font{
    margin-top: 3px;
}
.com-rec-w{
    width: 852px;
}
.com-rec-w li{
    width: 180px
}
.m-t-con-con{
    margin-top: 22px;
}
.m-b-title-con2{
    margin-bottom: 11px;
}
.com-rec li a:hover dt,.com-rec li a:hover dd{
    color: #f60 !important;
}
/*房价趋势*/
.m-t-f-pricetrend{
    margin-top: -8px;
}
.pricetrend-dl dt{
    width: 106px;
    color: #999;
    font-size: 1.166666rem;
}
.pricetrend-dl dd, .pricetrend-dl dt{
    font-family: "Microsoft YaHei","Hiragino Sans GB",  tahoma, arial, simhei;
    float: left;
    overflow: hidden;
    line-height: 33px;
}
.pricetrend-dl dd{
    width: 100px;
    font-size: 1.333333rem;
}
.pricetrend-dl dd span{
    font-family: tahoma;
}
.color-orange{
    color: #f60;
}
.color-green{
    color: #62ab00;
}
.pricetrend-chart{
    width: 197px;
    border: 0;
    display: block;
    margin-top: 15px;
}
.pricetrend-chart img{
    width: 245px;
    height: 197px;
}
.pricetrend-p{
    font-size: 1rem;
    color: #999;
    font-family: "tahoma";
    margin-top: 42px;
}
/*二手房房源精选*/
.ershouChoose-cont{
    position: relative;
}
.ershouChoose-cont, .houseqa-cont, .renthouse-cont, .rentCommunity-cont{
    height: 339px;
    overflow: hidden;
}
.p-l-title{
    padding-left: 22px;
}
.ershouChoose-opt1{
    background-position: -7px -309px;
}
.ershouChoose-opt1, .ershouChoose-opt2{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 5px;
    overflow: hidden;
}
.com-rec .img-wrap{
    position: relative;
}
.esf-axf{
    position: absolute;
    top: 0;
    width: 40px;
    height: 20px;
    line-height: 20px;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    background: #62ab00;
    background-image: linear-gradient(-90deg, #02C26D 0%, #7ED665 100%);
}
.com-rec-text dd.grey{
    color: #999999;
}
.ershouChoose-opt2{
    background-position: -7px -334px;
}
.ershouChoose-opt3{
    overflow: hidden;
    position: absolute;
    width: 16px;
    height: 14px;
    background-position: -7px -357px;
    left: 0;
    top: 5px;
}
.ershouChoose-opt4{
    overflow: hidden;
    position: absolute;
    width: 18px;
    height: 17px;
    background-position: -6px -378px;
    left: 0;
    top: 4px;
}