#container{
    width: 100% !important;
    margin: 0 auto;
}
select,input{
    vertical-align: middle;
}
.clearfix::after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
address, caption, th, cite, code, em{
    font-style: normal;
    font-weight: normal;
}
/*header区域*/
#header{
    width: 100%;
    font-family: "Microsoft YaHei","微软雅黑","Hiragino Sans GB",tahoma,arial,simhei;
    padding-bottom: 8px;
}
.top-nav, .mid-nav, .sec-nav{
    width: 100%;
}
.top-nav{
    font-size: 0;
    border-bottom: 1px solid #ddd;
    padding: 14px 0 10px 0;
}
.nav-content{
    width: 1180px;
    margin: 0 auto;
}
.L_tabsnew, .R_user{
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.L_tabsnew{
    width: 60%;
    margin: 0;
    font-size: 0;
    display: inline-block;
}
.L_tabsnew li{
    height: 20px;
    line-height: 20px;
    display: inline-block;
}
.L_tabsnew a:link, .L_tabsnew a:visited{
    font-size: 1.166666rem;
    color: #666;
    padding: 0 10px;
    border-right: 1px solid #ddd;
    display: inline-block;
    line-height: 14px;
    margin: 3px 0;
}
.first-child a.a_navnew, .L_tabsnew li:first-child a{
    padding-left: 0;
}
.L_tabsnew a:hover{
    text-decoration: none;
}
.last-child a.a_navnew, .L_tabsnew li:last-child a{
    border-right: 0;
}
.R_user{
    width: 40%;
    display: inline-block;
    font-size: 0;
    text-align: right;
    overflow: hidden;
}
.dropdown{
    font-size: 13px;
    color: #666;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}
.dropdown.menu, .custom-login, .user-login, .favorite, .developer-login, .broker-login, .notification{
    display: inline-block;
    vertical-align: top;
}
.dropdown.last-child, .dropdown:last-child{
    border-right: 0;
}
.dropdown .title{
    height: 20px;
    line-height: 20px;
}
.user-login .title{
    padding-left: 20px;
    background: url("../images/list/1.png") no-repeat 0 0;
}
.R_user a:link, .R_user a:visited{
    color: #666;
    font-size: 1.083333rem;
    text-decoration: none;
    outline: 0;
}
.R_user a:hover{
    text-decoration: none;
}
.dropdown .title a, .name{
    height: 20px;
    line-height: 20px;
    max-width: 100px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}
.mid-nav{
    padding: 18px 0;
}
.nav-content{
    width: 1180px;
    margin: 0 auto;
}
a.logo{
    padding: 0 15px 0 0;
    display: inline-block;
    width: 85px;
    height: 25px;
    background: url("../images/logo.png") 0 0 no-repeat;
    background-size: 85px 25px;
    overflow: hidden;
    vertical-align: bottom;
    border-right: 1px solid #DDD;
}
span.logo{
    padding: 0 10px 0 15px;
    color: #62ab00;
    font-size: 24px;
    height: 25px;
    line-height: 25px;
}
.cur_citynew{
    display: inline-block;
    position: relative;
    z-index: 101;
    cursor: default;
}
.cur_citynew .city{
    color: #666;
    font-style: normal;
    font-size: 1.166666rem;
    line-height: 18px;
    cursor: pointer;
}
.cur_citynew .city_icon{
    background: url("../images/list/1.png") -2px -20px no-repeat;
    line-height: 7px;
    width: 10px;
    height: 10px;
    margin: 7px 0 0 5px;
    cursor: pointer;
    overflow: hidden;
    display: inline-block;
}
.city_panel{
    position: absolute;
    background-color: #f9f9f9;
    z-index: 30000;
    border: 1px solid #d8d8d8;
    width: 350px;
    padding: 7px 0 0 0;
    left: 0;
    top: 21px;
    border-radius: 0 0 4px 4px;
    display: none;
}
.cur_citynew .city_panel dl{
    width: 322px;
    padding: 7px 0 6px 0;
    margin: 0 13px;
    border: 0;
    border-bottom: 1px solid #ccc;
    line-height: 23px;
    overflow: hidden;
    zoom: 1;
}
.cur_citynew .city_panel dl dt{
    width: 72px;
    float: left;
    color: #666;
}
.cur_citynew .city_panel dl dd{
    float: left;
    width: 250px;
    overflow: hidden;
    zoom: 1;
}
.cur_citynew .city_panel dl dd a{
    color: #1a519f;
    float: left;
    padding: 0 11px 0 0;
    white-space: nowrap;
}
.cur_citynew .city_panel .blank{
    float: left;
    height: 22px;
    line-height: 14px;
    width: 332px;
    text-align: right;
    margin-top: -3px;
    margin-left: 2px;
    background-color: #f9f9f9;
}
.cur_citynew .city_panel .blank a{
    color: #1a519f;
}
.top-nav, .mid-nav, .sec-nav{
    width: 100%;
}
.sec-nav{
    margin: 0;
}
.sec-bar{
    position: relative;
}
.nav-content{
    width: 1180px;
    margin: 0 auto;
}
.sec-bar{
    background-color: #62ab00;
}
.sec-bar.nav-content{
    font-size: 0;
}
.sec_link:hover{
    background-color: #4A8101;
    color: white !important;
}
.sec-bar a.sec_curr{
    background-color: #599700;
}
.sec-bar a:link, .sec-bar a:visited{
    font-size: 1.333333rem;
    line-height: 16px;
    color: #FFF;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
}
.sec-bar a:link, .sec-bar a:visited{
    position: relative;
}
.sec-bar .appdown:link, .sec-bar .appdown:visited{
    position: absolute;
    top: 6px;
    right: 30px;
    width: 110px;
    height: 27px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #dce8cc;
    cursor: pointer;
    color: #666;
    padding: 0;
    font-size: 1.166666rem;
    line-height: 27px;
    text-align: center;
    overflow: hidden;
}
.sec-bar .appdown i{
    font-style: normal;
    display: inline-block;
}
.sec-bar .appdown:hover{
    color: #666 !important;
}
.appIcon1{
    background: url("../images/2.png") no-repeat;
    display: inline-block;
    zoom: 1;
    margin-top: 3px;
    background-position: 0 -71px;
    width: 16px;
    height: 20px;
    margin-left: 5px;
}
.appIcon2{
    width: 20px;
    height: 20px;
    background: url("../images/2.png") no-repeat;
    background-position: 0 -110px;
    zoom: 1;
    display: inline-block;
    margin-top: 3px;
}
.appText{
    zoom: 1;
    display: inline-block;
    margin-top: 3px;
    color: #666;
    vertical-align: top;
    line-height: 22px;
    font-size: 1.166666rem;
    margin-right: 5px;
}
/*content区域*/
#content{
    margin: 0 auto;
}
#content{
    font-family: "Microsoft YaHei","微软雅黑",Tahoma,Arial,simhei,Helvetica,sans-serif;
    font-size: 1.083333rem;
    width: 1180px;
    position: relative;
}
#content::after{
    height: 0;
    content: ".";
    clear: both;
    display: block;
    font-size: 0;
    visibility: hidden;
    line-height: 0;
}
.p_1180{
    margin: 0 auto;
    width: 1180px;
    padding-left: 5px;
    margin-bottom: 15px;
}
.p_crumbs{
    height: 20px;
    color: #666;
    font-size: 1.083333rem;
    line-height: 20px;
}
.p_crumbs{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #666;
}
.p_crumbs a:link, .p_crumbs a:visited{
    color: #666;
    font-size: 1.083333rem;
}
.search-container{
    position: absolute;
    left: 467px;
    top: -104px;
    z-index: 98;
}
.search-form{
    position: relative;
    z-index: 899;
}
.searchbar-rent{
    font-size: 1.083333rem;
    height: 17px;
    width: 467px;
    padding: 7px 0 7px 13px;
    border: 1px solid #ccc;
    color: #999;
    border-radius: 3px 0 0 3px;
    vertical-align: top;
}
.searchbar-button{
    margin-left: -5px;
    width: 120px;
    background: #f60;
    color: #fff;
    font-size: 18px;
    border-radius: 0 3px 3px 0;
    letter-spacing: 4px;
    font-family: "Microsoft YaHei","微软雅黑",Tahoma,Arial,simhei,Helvetica,sans-serif;
    border: 0;
    height: 33px;
    cursor: pointer;
    vertical-align: top;
}
.icon-close{
    cursor: pointer;
}
.search-form .icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    overflow: hidden;
    background-image: url("../images/list/2.png");
    background-repeat: no-repeat;
}
.search-form .icon-close{
    background-position: 0 -32px;
}
.search-form .icon-close{
    position: absolute;
    left: 453px;
    top: 11px;
}
.search-form .search-map{
    width: 70px;
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: #666;
    padding-top: 6px;
    padding-left: 30px;
    margin-left: 6px;
    top: 2px;
}
.search-form .search-map:hover{
    color: #666 !important;
}
.search-form .icon-mark{
    width: 32px;
    height: 32px;
    background-position: -32px 0;
}
.search-map .icon-mark{
    position: absolute;
    left: 0;
    top: 0;
}
.div-border{
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}
.items-list{
    padding: 5px 10px;
    border-radius: 0;
    position: relative;
    z-index: 1;
}
.items{
    line-height: 26px;
    padding: 4px 10px;
    border-bottom: 1px dashed #d8d8d8;
    font-size: 0;
}
.items .item-title{
    display: inline-block;
    color: #999;
    margin-right: 15px;
    vertical-align: top;
    font-size: 1.083333rem;
}
.items .elems-l{
    width: 1082px;
    display: inline-block;
    font-size: 0;
}
.items span .selected-item, .items .sub-items .selected-item{
    color: #f60;
    font-weight: bold;
    margin-right: 20px;
    font-size: 1.083333rem;
}
.items a{
    margin-right: 20px;
    display: inline-block;
}
.items a:link, .items a:visited{
    color: #333;
    font-size: 1.083333rem;
}
.sub-items{
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    margin: 4px 0 5px 35px;
    padding: 3px 10px;
    line-height: 14px;
}
.items span .selected-item, .items .sub-items .selected-item{
    color: #f60;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    cursor: text;
}
.items .sub-items .sub-letter-item{
    color: #f60;
    margin-right: 3px;
    font-size: 1.083333rem;
}
.sub-items a{
    display: -moz-inline-stack;
    display: inline-block;
    color: #333;
    margin: 0 20px 0 0;
    height: 25px;
    line-height: 25px;
}
.items .pricecond, .items .areacond{
    height: 26px;
    line-height: 26px;
    display: inline-block;
    vertical-align: top;
}
.items form{
    display: inline-block;
    vertical-align: top;
}
.items form input{
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 16px;
    line-height: 16px;
    padding: 0 3px;
    text-align: center;
    margin: -4px 0 0 0;
    width: 40px;
}
#pr_form_apf_id_11{
    font-size: 1.083333rem;
}
.items form input.smit{
    width: 40px;
    height: 22px;
    margin-left: 3px;
    color: #333;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f6f6f6;
}
#condmenu li{
    float: left;
    display: inline;
    font-size: 1.083333rem;
}
#condmenu .condlist_tip{
    float: left;
    color: #999;
    margin-right: 0;
}
.filtersingle-new #filter_is_metro_new, #filter_is_school_new, #filter_is_trueH_new, #filter_is_video_new, .filter_check{
    position: relative;
    margin-left: 0;
    line-height: 22px;
}
#filter_is_metro, #filter_is_school, #filter_is_elevator, #filter_is_video, #filter_is_trueH, #filter_is_confirm, #filter_is_yzgp, .filter_check{
    margin-left: 15px;
    line-height: 26px;
    position: relative;
}
.filter_check input{
    margin-right: 5px;
}
#filter_is_personal input, #filter_is_metro input, #filter_is_school input{
    border-radius: 5px;
    margin-right: 3px;
}
.filter_check label{
    vertical-align: middle;
}
#filter_is_trueH i{
    display: inline-block;
    background: url("../images/list/3.png") no-repeat 0 0;
    width: 13px;
    height: 13px;
    vertical-align: middle;
    margin-left: 3px;
    cursor: pointer;
}
.filter_check .tips-box-truesingleold{
    position: absolute;
    left: 44px;
    bottom: 33px;
    width: 220px;
    height: 54px;
    padding-top: 8px;
    border: 1px solid #e6e6e6;
    background: #fff;
}
.filter_check .tips-box-truesingleold p{
    padding-left: 15px;
    line-height: 24px;
    height: 24px;
}
.filter_check .tips-box-truesingleold .arrow-wrap{
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #e6e6e6;
    position: absolute;
    bottom: -17px;
    left: 34px;
}
.filter_check .tips-box-truesingleold .arrow{
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: white;
    position: absolute;
    top: -9px;
    left: -8px;
}
.search_bottom{
    padding-left: 0;
    position: relative;
    height: 45px;
    padding-top: 0;
    margin-right: 0;
    clear: both;
}
#condmenu .condul{
    padding: 0;
    list-style-type: none;
}
#condmenu .condul{
    line-height: 20px;
    padding-top: 14px;
    height: 31px;
}
.condul li{
    margin-left: 10px;
}
#condmenu #selectfitment_id, #condmenu #selectschool_id, #condmenu #condbrand_id, #condmenu #condhouseage_id, #condmenu #condfloor_id, #condmenu #condarrow_id, #condmenu #conddecoration_id, #condmenu #condusetype_id, #condmenu #condeconomics_id, #condmenu #condpubtime_id{
    position: relative;
}
#condmenu .condul a{
    width: 91px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    border: 1px solid #d1d1d1;
    margin-right: 0;
}
#condmenu #condhouseage_id a{
    display: inline-block;
    margin-left: 0;
}
#condmenu a{
    height: 100%;
    width: 80px;
    text-decoration: none;
    background: #fff;
    border: 1px solid #b3b3b3;
    margin-left: 10px;
    margin-right: 8px;
    padding: 2px 0;
    color: #333;
}
#condmenu .condul a{
    margin-left: 0;
}
#condmenu .select_item span.txt{
    display: inline-block;
    padding-left: 7px;
    white-space: nowrap;
    width: 60px;
    cursor: pointer;
}
#condmenu #condhouseage_id .select_item span.txt{
    width: 70px;
}
#condhouseage_id:hover a span{
    color: #333;
}
#condmenu .condul a .icon{
    position: absolute;
    right: 7px;
    top: 9px;
    display: block;
    overflow: hidden;
    width: 0;
    height: 0;
    line-height: 0;
    border: 4px solid;
    border-color: #7b7b7b #fff #fff #fff;
}
#condmenu ul ul{
    visibility: hidden;
    position: absolute;
    top: 22px;
    left: 0;
    width: 96px;
    z-index: 1000;
    border: 1px solid #ccc;
    border-top: 0;
}
#condmenu .condul ul{
    overflow: hidden;
    zoom: 1;
    background: #fff;
    padding: 4px 0;
}
#condmenu #condhouseage_id ul{
    width: 91px;
}
#condmenu ul ul li{
    display: block;
    height: auto;
    line-height: 12px;
    width: 70px;
    margin-left: 0;
}
#condmenu #condhouseage_id ul li{
    width: 100px;
    margin-left: 0;
}
#condmenu .condul ul a, #condmenu .condul ul a:link, #condmenu .condul ul a:visited{
    display: block;
    width: 72px;
    height: 100%;
    padding: 6px 8px;
    margin: 0;
    line-height: 12px;
    color: #333;
    background: #fff;
    border: 0 none;
}
#condmenu #condhouseage_id ul a:link, #condmenu #condhouseage_id ul a:visited, #condmenu #condhouseage_id ul a:hover, #condmenu #condhouseage_id ul a:active{
    width: 84px;
}
#condmenu #condhouseage_id ul li.selected a{
    color: #f60;
}
#condmenu #condhouseage_id ul li a:hover{
    text-decoration: underline;
}
#condmenu .condul #condusetype_id a, #condmenu .condul #condeconomics_id a, #condmenu .condul #condusetype_id ul{
    display: block;
}
#condmenu .condul #condusetype_id ul{
    width: 91px;
}
.search_bottom a{
    display: inline-block;
    zoom: 1;
}
#condmenu .condul #condfloor_id ul, #condmenu .condul #condarrow_id ul, #condmenu .condul #conddecoration_id ul{
    width: 91px;
}
#condmenu .condul #condeconomics_id a{
    width: 112px;
}
#condmenu .condul #condeconomics_id ul{
    width: 112px;
}
/*left content*/
.sale-left{
    float: left;
    width: 900px;
    position: relative;
    z-index: 0;
}
/*right content*/
.sale-right{
    float: right;
    width: 255px;
    padding-bottom: 45px;
}
.ifx-ad-r-in{
    padding: 16px 0;
    margin-top: 20px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
}
.ifx-ad-r-in div{
    margin: 0 auto !important;
}
.house-qa{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px 16.5px;
}
.sale-right .block-title{
    font-size: 1.333333rem;
    color: #333333;
    font-weight: bold;
    display: block;
    padding-left: 16px;
}
.house-qa .block-title{
    margin-bottom: 25px;
}
.house-qa a{
    display: block;
}
.house-qa .questions a{
    margin-bottom: 19px;
    color: #333333;
    width: 215px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.house-qa i{
    display: block;
    height: 0px;
    width: 233px;
    border-bottom: 1px dashed #D8D8D8;
    margin-bottom: 20px;
    margin-left: -8px;
}
.house-qa a.ask-link{
    background-color: #62ab00;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1.333333rem;
    height: 40px;
    line-height: 40px;
    width: 150px;
    text-align: center;
    margin-bottom: 0;
}
.house-qa a.ask-link:hover{
    background-color: #4A8200;
    text-decoration: none;
    color: white !important;
}
.div-border{
    border: 1px solid #D8D8D8;
    border-radius: 5px;
}
.r-mag-top{
    margin-top: 20px;
}
.r-padding{
    padding: 20px 16.5px;
}
.sale-right .house-price{
    padding-bottom: 25px;
}
.sale-right .block-title{
    font-size: 1.333333rem;
    color: #333333;
    font-weight: bold;
    display: block;
    padding-left: 16px;
}
.sale-right .house-price .block-title{
    margin-bottom: 18px;
}
.sale-right .house-price .month-price{
    margin-bottom: 14px;
}
.sale-right .house-price dt, .sale-right .house-price dd{
    display: inline-block;
}
.sale-right .house-price dt{
    width: 130px;
    color: #999999;
}
.sale-right .month-price .price-num{
    font-weight: bold;
}
.sale-right .house-price em{
    font-family: Tahoma;
}
.sale-right .house-price .compare-price{
    margin-bottom: 10px;
}
.sale-right .house-price .up{
    color: #ff6600;
}
.sale-right .house-price .price-trend-chat{
    display: inline-block;
}
.sale-right .house-price img{
    margin-bottom: 20px;
}
.sale-right .house-price .price-tip{
    margin-left: -5px;
    margin-right: -5px;
    font-size: 12px;
    color: #999999;
}
.sale-right .find-broker span{
    display: block;
    margin-bottom: 20px;
}
/*58联盟广告页*/
.luna-58-wrap{
    width: 220px;
    height: 220px;
    margin-top: 20px;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    overflow: hidden;
    padding: 14px 17px 14px 16px;
    position: relative;
}
.luna-58-wrap ul li{
    float: left;
    margin-right: 17px;
}
.prev{
    background: url("../images/list/7.png") no-repeat 0 0;
    width: 15px;
    height: 25px;
    background-position: -22px -100px;
    left: 16px;
    position: absolute;
    top: 125px;
    margin-top: -32px;
    display: block;
    z-index: 999;
    opacity: .4;
    filter: alpha(opacity=40);
    display: none;
}
.next{
    background: url("../images/list/7.png") no-repeat 0 0;
    width: 15px;
    height: 25px;
    background-position: -22px -55px;
    right: 17px;
    position: absolute;
    top: 125px;
    margin-top: -32px;
    display: block;
    z-index: 999;
    opacity: .4;
    filter: alpha(opacity=40);
    display: none;
}
.tab-wrap{
    margin-top: 24px;
    font-size: 0;
    border-bottom: 2px solid #62ab00;
    position: relative;
}
.tab-wrap .list-tab{
    display: inline-block;
    padding: 0 30px;
    color: #666;
    font-size: 16px;
    line-height: 38px;
    text-decoration: none;
    background: #fff;
    border: 1px solid #ccc;
    border-right: none;
    border-bottom: none;
}
.tab-wrap .list-tab:hover{
    color: #666 !important;
}
.tab-wrap .slted, .tab-wrap .slted:hover{
    background: #62ab00;
    color: #fff !important;
    border: 1px solid #62ab00;
    border-bottom: none;
}
.tab-wrap .list-tab:last-child{
    border-right: 1px solid #ccc;
}
.tab-wrap a:nth-child(2) img{
    vertical-align: -3px;
}
.tab-wrap a:nth-child(3) img{
    vertical-align: -2px;
}
.tab-wrap a:nth-child(4) img{
    vertical-align: -4px;
}
.sortby{
    color: #666;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}
.sortby-top-v2{
    margin-top: 19px;
}
.sortby strong{
    color: #e54b00;
    font-weight: normal;
}
.sortby .sort-con{
    float: right;
}
.sortby .sort-con a:link, .sortby .sort-con a:visited{
    color: #666;
}
.sortby .sort-con a.cur{
    color: #e54b00;
    font-weight: normal;
}
.sortby .sort-con a{
    margin-left: 20px;
    padding-right: 15px;
    background-image: url("../images/list/11.png");
    background-image: -webkit-image-set(url("../images/list/11.png") 1x,url("../images/list/12.png") 2x);
    background-position: -50px 0;
    background-repeat: no-repeat;
}
.sortby .sort-con a.fst{
    margin-left: 0px;
    padding-right: 0px;
    background-image: none;
}
.sortby .sort-con .down{
    background-position: 30px -45px;
}
.sortby .sort-con .up{
    background-position: 30px -31px;
}
/*列表样式*/
.houselist-mod{
    border-top: 1px solid #e6e6e6;
    font-size: 1.166666rem;
}
.houselist-mod .list-item{
    padding: 20px 20px 14px 220px;
    color: #666;
    border-bottom: 1px dashed #e6e6e6;
    position: relative;
    z-index: 0;
    cursor: pointer;
}
.houselist-mod .list-item .item-img{
    float: left;
    margin-left: -200px;
    width: 180px;
    height: 135px;
    position: relative;
    z-index: 2;
}
.houselist-mod .list-item .item-img img{
    display: block;
    width: 100%;
    height: 100%;
}
.houselist-mod .list-item .icon-wrapper{
    position: absolute;
    left: 8px;
    bottom: 8px;
}
.houselist-mod .icon-wrapper .icon-video-new{
    margin-right: 5px;
    background: url("../images/list/15.png") no-repeat;
    background: -webkit-image-set(url("../images/list/15.png") 1x,url("../images/list/16.png") 2x);
}
.houselist-mod .icon-wrapper .icon-video-new, .houselist-mod .icon-wrapper .icon-720{
    display: inline-block;
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.houselist-mod i{
    font-style: normal;
}
.houselist-mod .icon-wrapper .icon-720{
    background: url("../images/list/13.png") no-repeat;
    background: -webkit-image-set(url("../images/list/13.png") 1x,url("../images/list/14.png") 2x);
}
.houselist-mod-new .house-details{
    height: 135px;
    display: table-cell;
    vertical-align: middle;
}
.houselist-mod .house-details .house-title{
    margin-bottom: 6px;
    height: 34px;
    line-height: 34px;
    font-size: 0;
}
.houselist-mod .house-details .house-title a{
    font-size: 1.333333rem;
    color: #333;
    font-weight: bold;
}
.houselist-mod .list-item a{
    display: inline-block;
    vertical-align: top;
}
.houselist-mod .house-details .house-title a{
    display: inline-block;
    vertical-align: top;
    padding-right: 7px;
    max-width: 375px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.houselist-mod .list-item .house-icon{
    margin-top: 7px;
}
.houselist-mod .list-item .house-icon-anxuan{
    display: inline-block;
    width: 36px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    background-image: linear-gradient(-90deg, #02C26D 0%, #7ED665 100%);
    font-size: 1rem;
    color: #fff;
    font-weight: 900;
    margin-left: 5px;
}
.list-item .house-icon-default, .list-item .house-icon-high, .list-item .house-icon-warning, .list-item .house-icon-safe{
    position: relative;
    padding: 0 4px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
}
.list-item .house-icon-default{
    color: #02c26d;
    margin-left: 0;
}
.houselist-mod .list-item .house-icon{
    margin-top: 7px;
    border: 1px solid #02c26d;
    border-left: none;
}
.houselist-mod .house-details .details-item{
    height: 30px;
    line-height: 30px;
}
.houselist-mod .details-item span{
    margin-right: 10px;
    font-size: 1.166666rem;
}
.houselist-mod .details-item .spe-lines{
    display: inline-block;
    margin-right: 10px;
    width: 1px;
    background: #ccc;
    height: 10px;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
}
.houselist-mod .details-item{
    font-size: 0;
}
.houselist-mod .details-item span{
    margin-right: 10px;
}
.houselist-mod .details-item .comm-address{
    display: inline-block;
    max-width: 342px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0;
}
.houselist-mod .details-item .comm-address{
    max-width: 342px;
}
.houselist-mod .tags-bottom{
    width: 550px;
    margin: 0 0 7px -8px;
    font-size: 0;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}
.tags-bottom .item-tags{
    display: inline-block;
    font-size: 1rem;
    height: 22px;
    line-height: 22px;
    margin: 8px 0 5px 8px;
    padding: 0 10px;
    border-radius: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tags-bottom .tag-others{
    color: #799374;
    background: #f2f6ed;
}
.broker-item{
    font-size: 0;
    height: 30px;
    line-height: 30px;
    width: 550px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.broker-img-wrap{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: -4px;
}
.broker-img-wrap img{
    width: 100%;
}
.broker-text{
    color: #999;
    font-size: 1.166666rem;
}
.broker-name{
    margin: 0 8px 0 5px;
}
.broker-ax-img{
    width: 14px;
    margin-right: 8px;
    vertical-align: -3px;
}
.houselist-mod .pro-price{
    position: absolute;
    top: 60px;
    right: 20px;
    width: 112px;
    text-align: right;
    white-space: nowrap;
}
.houselist-mod .pro-price .price-det{
    display: block;
    width: 112px;
    height: 30px;
    line-height: 30px;
    color: #e54b00;
}
.houselist-mod .pro-price strong{
    font-size: 22px;
    font-weight: bold;
    font-family: Tahoma;
    margin-right: 3px;
}
.houselist-mod .pro-price .unit-price{
    font-size: 1rem;
    color: #999;
}
.list-item:hover{
    background-color: #F9F9F9;
}
.multi-page{
    margin: 30px 20px 40px 0;
    text-align: right !important;
}
.multi-page i, .multi-page a:link, .multi-page a:visited{
    display: inline-block;
    vertical-align: top;
    background: #fff;
    margin: 0 0 0 2px;
    color: #777;
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 26px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    font-family: Tahoma;
}
.multi-page a:hover{
    color: white !important;
    background-color: #5A9B01;
    border-color: #62AC01;
}
.multi-page .iPre, .multi-page .aPre:link, .multi-page .aPre:visited, .multi-page .iNxt, .multi-page .aNxt:link, .multi-page .aNxt:visited{
    font-size: 1.166666rem;
    font-weight: 700;
}
.multi-page .iPre, .multi-page .aPre:link, .multi-page .aPre:visited{
    width: 68px;
    color: #ccc;
    border: 1px solid #ccc;
}
.multi-page .aPre:link, .multi-page .aPre:visited{
    color: #666;
}
.multi-page .curr{
    color: #63aa02;
    background: #fff;
    border: 1px solid #62ac01;
    font-weight: 700;
}
.multi-page i{
    font-style: normal;
}
.multi-page .aDotted, .multi-page .aDotted:link, .multi-page .aDotted:visited{
    width: 29px;
    border: 0;
}
.multi-page .aNxt:link, .multi-page .aNxt:visited{
    background: #62ac01;
    border: 1px solid #89c040;
}
.multi-page .iNxt, .multi-page .aNxt:link, .multi-page .aNxt:visited{
    width: 139px;
    color: #fff;
    line-height: 31px;
}
.multi-page .aNxt:hover{
    color: white !important;
    background-color: #5A9B01;
}
.multi-page .aPre:hover{
    color: white !important;
    background-color: #5A9B01;
    border-color: #5A9B01;
}
.multi-page .iPre, .multi-page .aPre:link, .multi-page .aPre:visited{
    width: 68px;
    color: #ccc;
    border: 1px solid #ccc;
}