/*头部*/
.user-nav{
    width: 1180px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    position: relative;
}
.user-nav img{
    margin-top: 19px;
}
/*中间*/
.content{
    position: relative;
    height: 706px;
    width: 100%;
    border-top: 2px solid #63ad02;
    background: url("../images/login_bg.jpg") no-repeat center center;
    background-color: #fbfbfb;
    
}
.login-wrap{
    margin: 0 auto;
    padding-top: 70px;
    width: 1000px;
}
.frame-login-wrap{
    position: relative;
    left: 0;
    top: 0;
    margin: 0 auto;
    width: 600px;
    height: 480px;
    padding: 0 20px 20px;
    background: #fff;
    box-shadow: 0 0 8px #888;
    border-radius: 5px;
    z-index: 1003;
    overflow: hidden;
}
.frame-login-area{
    position: relative;
    width: 600px;
    height: 100%;
}
.frame-login-area .head{
    height: 58px;
    padding: 0 2px 0 7px;
    font-size: 22px;
    line-height: 60px;
    color: #62ab00;
    border-bottom: 2px solid #62ab00;
}
.head h3{
    display: inline-block;
    font-weight: normal;
}
.form-content{
    margin-left: 0;
    padding-left: 10px;
    overflow: hidden;
}
.tab-wrap{
    margin-top: 26px;
    width: 390px;
    font-size: 1.333333rem;
    text-align: center;
}
.tab-wrap a{
    font-size: 1.333333rem;
    color: #666;
    outline: none;
}
.tab-wrap i{
    margin: 0 48px;
    position: relative;
    top: 3px;
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #ccc;
    font-style: normal;
    font-weight: normal;
}
.tab-wrap .cur{
    color: #62ab00;
}
.tab-wrap .cur:hover{
    color: #62ab00 !important;
}
.tab-wrap a:hover{
    text-decoration: none;
}
/*form表单开始*/
.form-wrap{
    margin-top: 8px;
}
.item{
    width: 100%;
    float: left;
}
.error{
    line-height: 20px;
    color: #df3f3f;
}
.control-item-wrap{
    display: inline-block;
    width: 400px;
    overflow: hidden;
    font-size: 0;
    vertical-align: top;
}
.control-item{
    display: inline-block;
    padding-left: 16px;
    width: 382px;
    height: 48px;
    font-size: 0;
    color: #666;
    border:1px solid #ccc;
}
.icon{
    display: inline-block;
    margin-left: 4px;
    margin-top: 13px;
}
.split{
    margin: 10px 0 0  12px;
    font-size: 0;
    display: inline-block;
    width: 1px;
    height: 30px;
    background: #ccc;
    vertical-align: top;
}
.ipt{
    padding: 15px 0 15px 15px;
    width: 327px;
    font-size: 1.16666rem;
    height: 18px;
    line-height: 18px;
    color: #666;
    border: 0;
    vertical-align: top;
}
.icon-ok{
    position: relative;
    top: 19px;
    margin-left: 10px;
    display: inline-block;
}
.control-item-md{
    width: 232px;
}
.control-item-md .ipt{
    width: 177px;
}
.sms-btn{
    margin-left: 10px;
    display: inline-block;
    width: 138px;
    height: 48px;
    line-height: 48px;
    border: 1px solid #62ab00;
    font-size: 1.16666rem;
    text-align: center;
    vertical-align: top;
}
.sms-disable-btn{
    cursor: default;
    color: #ccc;
    background: #f5f5f5;
    border-color: #ccc;
}
.sms-disable-btn:hover{
    color: #ccc !important;
    text-decoration: none;
}
.check-item{
    margin-top: 37px;
    width: 400px;
    float: left;
}
.check-item label{
    font-size: 1.166666rem;
    vertical-align: top;
}
.check-item label .checkbox{
    width: 16px;
    height: 16px;
}
.check-item label span{
    color: #666;
    vertical-align: top;
}
.check-item a{
    font-size: 1.166666rem;
    color: #136ccd;
    vertical-align: top;
}
.none{
    display: none;
}
.user-split{
    margin: 10px 0 0 8px;
}
.submit-btn{
    float: left;
    margin-top: 10px;
    padding: 0;
    display: block;
    font-size: 1.333333rem;
    color: #fff;
    text-align: center;
    width: 400px;
    height: 50px;
    background: #62ab00;
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Microsoft YaHei", "宋体", Arial, "\5B8B\4F53", Helvetica, sans-serif;
}
/*form表单结束*/
.third-login-title{
    margin: 26px 0 0 10px;
    width: 400px;
}
.third-login-title .line{
    width: 400px;
    height: 1px;
    border-bottom: 1px solid #ededed;
}
.third-login-title .doc{
    margin-top: -10px;
    font-size: 1.166666rem;
    line-height: 20px;
    color: #ccc;
    text-align: center;
}
.third-login-title .doc span{
    background: #fff;
    padding: 0 16px;
}
.thirds-wrap{
    width: 420px;
    padding: 8px 0 0;
}
.thirds-wrap a{
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin: 0 auto;
}
/*其他登录连接区域*/
.other-login-wrap{
    position: absolute;
    top: 114px;
    right: 0;
    margin-top: 18px;
    text-align: center;
    font-size: 1.166666rem;
}
.other-login-wrap .title{
    margin: 0 0 15px 0;
    width: 136px;
    text-align: left;
    font-size: 1.166666rem;
    color: #666;
}
.other-login-wrap img{
    vertical-align: center;
}
.other-login-wrap a{
    color: #666;
}
.other-login-wrap p{
    margin: 0 0 15px 0;
    width: 136px;
    display: block;
    text-align: left;
}
.other-login-wrap i{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
}
/*登录成功提示界面*/
.login-success{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 200px;
    margin: -90px 0 0 -200px;
    text-align: center;
}
.login-success p{
    margin-top: 12px;
    font-size: 1.166666rem;
    color: #666;
}
.login-success .success-btn-wrap{
    margin-top: 45px;
}
.login-success .success-btn-wrap a{
    display: inline-block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    font-size: 1.333333rem;
    color: #fff;
    cursor: pointer;
    background: #62ab00;
}
.login-success .success-btn-wrap a:hover{
    text-decoration: none;
    color: #fff !important;
}
/*底部*/
.footer{
    clear: both;
    border-top: 1px solid #e6e6e6;
    padding: 15px 0 30px;
    color: #333;
}
.footer .links{
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 5px;
    font-size: 0;
    text-align: center;
}
.footer .links li{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.footer a{
    display: inline-block;
    font-size: 1rem;
    color: #333;
}
.footer .spe-lines{
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #ccc;
    margin: 0 10px;
    font-size: 0;
    text-indent: -9999px;
    overflow: hidden;
    vertical-align: -1px;
}
.footer .show-mod{
    display: none;
    border:1px solid #e6e6e6;
    border-radius: 4px;
    width: 730px;
    padding: 3px 10px;
    margin:0 auto 5px;
    overflow: hidden;
}
.footer .show-mod li{
    float: left;
    margin-right: 22px;
    line-height: 24px;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.footer .other-city ul{
    width: 736px;
}
.footer .other-city li{
    width: 76px;
    height: 24px;
    line-height: 24px;
    margin-right: 16px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}
.footer .cp-mod{
    text-align: center;
    line-height: 20px;
}