#container{
    width: 100% !important;
    margin: 0 auto;
}
select,input{
    vertical-align: middle;
}
.clearfix::after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#content::after{
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
address, caption, th, cite, code, em{
    font-style: normal;
    font-weight: normal;
}
a:link, a:visited, a:active{
    color: #0041d9;
    text-decoration: none;
    outline: 0;
}
img{
    border: 0;
    display: inline-block;
}
/*container*/
#header{
    width: 100%;
    height: 40px;
    background-color: #62ab00;
    font-family: "Microsoft YaHei","微软雅黑","Hiragino Sans GB",tahoma,arial,simhei;
    margin-bottom: 10px;
}
.glbListNavigation{
    height: 40px;
    width: 1180px;
    margin: 0 auto;
}
.glbListNavigation .logo{
    background: url("../images/view/1.png") no-repeat;
    width: 90px;
    height: 30px;
    float: left;
    margin-top: 4px;
}
.glbListNavigation .cur_citynew{
    float: left;
    position: relative;
    margin-top: 15px;
    margin-left: 1px;
    z-index: 100;
}
.glbListNavigation .select_icon{
    color: #fff;
    cursor: pointer;
}
.glbListNavigation .city_icon{
    background: url("../images/view/2.png") no-repeat 0 -195px;
    width: 10px;
    height: 10px;
    display: inline-block;
}
.city_panel{
    position: absolute;
    background-color: #f9f9f9;
    z-index: 30000;
    border: 1px solid #d8d8d8;
    width: 350px;
    padding: 7px 0 0 0;
    left: 0;
    top: 16px;
    border-radius: 0 0 4px 4px;
    display: none;
}
.cur_citynew .city_panel dl{
    width: 322px;
    padding: 7px 0 6px 0;
    margin: 0 13px;
    border: 0;
    border-bottom: 1px solid #ccc;
    line-height: 23px;
    overflow: hidden;
    zoom: 1;
}
.cur_citynew .city_panel dl dt{
    width: 72px;
    float: left;
    color: #666;
}
.cur_citynew .city_panel dl dd{
    float: left;
    width: 250px;
    overflow: hidden;
    zoom: 1;
}
.cur_citynew .city_panel dl dd a{
    color: #1a519f;
    float: left;
    padding: 0 11px 0 0;
    white-space: nowrap;
}
.cur_citynew .city_panel .blank{
    float: left;
    height: 22px;
    line-height: 14px;
    width: 332px;
    text-align: right;
    margin-top: -3px;
    margin-left: 2px;
    background-color: #f9f9f9;
}
.cur_citynew .city_panel .blank a{
    color: #1a519f;
}
.L_tabsnew{
    float: left;
}
.L_tabsnew li{
    float: left;
    height: 40px;
    line-height: 40px;
    position: relative;
    z-index: 99;
    cursor: pointer;
}
.li_selected{
    background-color: #528e01;
    border-radius: 2px;
}
.a_navnew{
    padding: 0 15px;
    font-size: 1.333333rem;
    display: block;
}
.a_navnew{
    padding: 0 9px;
}
.a_navnew:link, .a_navnew:visited, .a_navnew:active, .a_navnew:hover{
    color: #fff !important;
    text-decoration: none;
}
.li_hover{
    background-color: #4A8101;
}
.sec_divnew{
    position: absolute;
    left: 0;
    top: 40px;
    border: 1px solid #d8d8d8;
    background-color: #f9f9f9;
    font-size: 1.166666rem;
    color: #666;
    border-radius: 0 0 4px 4px;
    padding: 0 10px 15px;
    line-height: 18px;
    z-index: 20000;
}
.arrow_upnew{
    background: url("../images/view/2.png") 0 -224px no-repeat;
    width: 14px;
    height: 10px;
    position: absolute;
    top: -6px;
    left: 34px;
}
.sec_divnew a{
    display: block;
    white-space: nowrap;
    margin-top: 15px;
    padding: 0 15px 0 10px;
}
.sec_divnew a:hover{
    color: #528E01 !important;
}
.sec_divnew a:link, .sec_divnew a:visited, .sec_divnew a:active{
    color: #666;
    text-decoration: none;
}
.underline{
    border-top: 1px solid #ccc;
    padding-top: 15px!important;
}
.sec_navlist{
    display: table;
}
.third_navlist{
    display: table-cell;
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
}
.third_navlist .third_nav_title{
    font-size: 1.333333rem;
    font-weight: 500;
    color: #666;
    line-height: 16px;
    padding: 0;
}
.sec_divnew a{
    display: block;
    white-space: nowrap;
    margin-top: 15px;
    padding: 0 15px 0 10px;
}
.sec_divnew .third_navlist>a{
    margin-top: 16px;
    font-size: 1.166666rem;
    font-weight: 400;
    color: #666;
    line-height: 14px;
    padding: 0;
}
.login_info{
    height: 40px!important;
}
.login_info{
    z-index: 99;
}
.login_info{
    height: 48px;
    position: relative;
    z-index: 1001;
    white-space: nowrap;
    float: right;
}
.login_info .l{
    float: left;
    width: 119px;
    padding-left: 10px;
    margin-right: 20px;
}
.login_info .l .m{
    height: 40px!important;
    line-height: 40px!important;
    background-position: 0 11px!important;
}
.login_info .l .m{
    height: 48px;
    line-height: 48px;
    background: url("../images/view/2.png") no-repeat 0 15px;
    cursor: pointer;
    margin-right: 12px;
}
.u_l, .u_r{
    font-size: 1.166666rem;
}
.u_l{
    margin-left: 23px;
    margin-right: 5px;
}
.u_l:link, .u_l:visited, .u_l:active, .u_l:hover, .u_r:link, .u_r:visited, .u_r:active, .u_r:hover{
    color: #ffffff !important;
    text-decoration: none;
}
.appContainer{
    padding-left: 2px;
    width: 120px;
    height: 40px;
    float: left;
    cursor: pointer;
}
.downapp{
    width: 120px;
    height: 27px;
    border-radius: 2px;
    background-color: #dce8cc;
    margin-top: 6px;
    display: block;
    cursor: pointer;
}
.downapp:hover{
    background-color: #F2F6E3;
}
.apppic1, .apppic2, .apptext{
    background: url("../images/view/2.png") no-repeat;
    display: inline-block;
    zoom: 1;
    margin-top: 3px;
}
.apppic1{
    background-position: 0 -71px;
    width: 16px;
    height: 20px;
    margin-left: 5px;
}
.apppic2{
    background-position: 0 -110px;
    width: 20px;
    height: 20px;
}
.apptext{
    width: 60px;
    height: 20px;
}
.apptext{
    background: 0;
    color: #666;
    vertical-align: top;
    line-height: 22px;
    font-size: 1.166666rem;
}
/*content*/
#content{
    width: 1180px;
    margin: 0 auto;
}
.p_1180{
    margin: 0 auto;
    width: 1180px;
    padding-left: 5px;
    margin-bottom: 15px;
}
.p_crumbs{
    height: 20px;
    color: #666;
    font-size: 1.083333rem;
    line-height: 20px;
}
.p_crumbs{
    height: 33px;
    line-height: 33px;
    padding-left: 0;
    margin-bottom: 0;
}
.p_crumbs a:link, .p_crumbs a:visited{
    color: #666;
    font-size: 1.083333rem;
}
.p_crumbs a:hover{
    text-decoration: underline;
}
.title-guarantee{
    display: inline-block;
    line-height: 51px;
}
.long-title{
    color: #333;
    font-size: 2rem;
    font-weight: bold;
    line-height: 54px;
    letter-spacing: 1px;
    display: inline-block;
    vertical-align: top;
}
.wrapper{
    width: 1180px;
    position: relative;
    margin: 0 auto;
}
.wrapper-lf{
    float: left;
    width: 900px;
}
.wrapper-lf .basic-info{
    z-index: 4;
    height: 42px;
    font-size: 1.166666rem;
    margin-top: 7px;
    position: relative;
}
.wrapper-lf .basic-info .info-tag{
    float: left;
    height: 22px;
    padding-right: 18px;
    margin-right: 21px;
    line-height: 22px;
    border-right: 1px solid #e6e6e6;
}
.wrapper-lf .basic-info .light{
    color: #f60;
}
.wrapper-lf .basic-info .info-tag em{
    font-size: 2rem;
    font-family: 'Tahoma';
}
.wrapper-lf .basic-info .light em{
    font-weight: bold;
}
.tag-cal{
    margin-top: 4px;
}
.tag-cal img{
    margin-right: 5px;
    vertical-align: -2px;
}
.wrapper-lf .basic-info .no-border{
    border-style: none;
}
.icon-list{
    height: 24px;
    float: left;
    font-size: 0;
}
.icon-list .icon-item{
    position: relative;
    color: #3cb950;
    font-size: 1rem;
    padding-right: 15px;
    float: left;
    max-width: 350px;
    line-height: 26px;
}
.icon-item .anxuan_icon{
    height: 24px;
}
.tips-box-truesingleold{
    display: none;
    position: absolute;
    left: 0;
    bottom: 33px;
    border: 1px solid #e6e6e6;
    background: #fff;
    padding: 0 12px;
    z-index: 4;
    color: #333;
    width: 323px;
}
.tips-box-truesingleold p{
    line-height: 34px;
    height: 34px;
}
.tips-box-truesingleold .tip-link{
    color: #1f64b2;
}
.tips-box-truesingleold .tip-link:hover{
    text-decoration: underline;
}
.tips-box-truesingleold .arrow-wrap{
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #e6e6e6;
    position: absolute;
    bottom: -17px;
    left: 31px;
}
.tips-box-truesingleold .arrow{
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: white;
    position: absolute;
    top: -9px;
    left: -8px;
}
.icon-item .safe_icon{
    height: 12px;
    margin-right: 4px;
    vertical-align: -1px;
}
.wrapper-lf .moreFunc{
    float: right;
    line-height: 18px;
}
.wrapper-lf .moreFunc-entrance{
    display: inline-block;
    color: #1f64b2;
    font-size: 1rem;
    text-decoration: none;
}
.moreFunc img{
    margin-right: 5px;
}
/*轮播组件*/
.switch_warpper{
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    border: 1px solid #e6e6e6;
    border-left: none;
}
.switch_with_map{
    height: 450px;
    width: 790px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 110px;
}
.inner_switcher{
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
.switch_mask{
    position: absolute;
    width: 95px;
    height: 450px;
    background: #fff;
    z-index: 10;
    cursor: pointer;
}
.switch_mask span{
    position: absolute;
    left: 0;
    top: 236px;
    font-size: 1rem;
    line-height: 1;
    color: #999;
    text-align: right;
    margin-left: 30px;
}
.switch_mask img{
    display: inline-block;
    margin-top: 170px;
    margin-left: 40px;
}
.switch_right_mask{
    right: 0px;
}
.switch_wrap{
    position: absolute;
    left: 95px;
    top: 0;
    height: 450px;
    width: 600px;
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.switch_tab_wrap{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 0;
    text-align: center;
    width: 109px;
    height: 450px;
    background: #f1f1f1;
    border-right: 1px solid #d8d8d8;
}
.switch_warpper .switch_tag{
    display: block;
    width: 107px;
    height: 110px;
    background: #f1f1f1;
    font-size: 1.166666rem;
    color: #666;
    border: 1px solid #f1f1f1;
    border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
}
.switch_tag img{
    margin-top: 25px;
}
.switch_tag .title{
    display: block;
    margin-top: 5px;
}
.switch_tag:hover{
    color: #62ab00 !important;
}
.switch_tag_hover{
    color: #62ab00 !important;
    border: 1px solid #62AB00 !important;
    background: white !important;
}
.switch_tag:nth-child(2) em{
    font-size: 1rem;
}
.qj-720-tab .switch_tag{
    height: 88px;
}
.switch_warpper .switch_tag_now{
    color: #62ab00;
    font-weight: bold;
    background: #fff;
    border-right: 2px solid #fff;
    position: relative;
    z-index: 20;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.switch_list{
    display: none;
    vertical-align: top;
}
.switch_wrap ul li{
    float: left;
}
.switch_wrap ul li img{
    width: 600px;
}
.active{
    display: block;
}
/*页面右侧*/
.wrapper-rg{
    float: right;
    width: 260px;
}
.block-wrap{
    border-top: 1px solid #e6e6e6;
}
.block-wrap-border{
    border: 1px solid #e6e6e6;
}
.brokerInfo_mod{
    margin-top: 85px;
}
.wrapper-rg .block-wrap{
    border-width: 0;
}
.wrapper-rg .broker-wrap{
    border: 1px solid #e6e6e6;
}
#broker-wrap2{
    padding-bottom: 19px;
    border-bottom: 1px solid #e6e6e6;
    position: relative;
}
.broker-wrap .safe-tip{
    display: block;
    margin-bottom: -25px;
    line-height: 45px;
    height: 45px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 0;
    opacity: 0.75;
    background-image: linear-gradient(-180deg, #E9FFE2 0%, #FFFFFF 87%);
}
.safe-tip .tip-icon{
    vertical-align: -3px;
    height: 16px;
    margin-right: 5px;
}
.safe-tip .tip-text{
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin-right: 5px;
}
.safe-tip .tip-text:hover{
    color: #6CCA7B;
}
.broker-wrap .icon{
    display: inline-block;
    position: relative;
}
.broker-wrap .icon:before{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 3px solid #3cb950;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin-top: -10px;
}
.broker-wrap .icon:after{
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: -1px;
    width: 0;
    height: 0;
    border-left: 3px solid #fff;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    margin-top: -10px;
}
.broker-wrap .img-box{
    position: relative;
    margin-left: 119px;
    margin-top: 25px;
    margin-bottom: 6px;
}
.broker-wrap .img-box .brokercard-img{
    width: 86px;
    height: 110px;
    float: left;
    margin-left: -101px;
}
#broker-wrap2 .broker-tagdiv{
    padding-top: 20px;
}
#broker-wrap2 .img-box .brokercard-name{
    line-height: 36px;
    font-size: 1.666666rem;
    display: block;
    padding-top: 0;
}
#broker-wrap2 .qr-wrap{
    float: none;
    display: inline-block;
    margin-left: 8px;
    cursor: default;
    vertical-align: -1px;
    position: relative;
}
.broker-wrap .broker-qrimg{
    display: none;
    top: 38px;
    left: -26px;
    width: 112px;
    height: 128px;
    position: absolute;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    text-align: center;
    z-index: 11;
}
.broker-wrap .broker-qrimg .arr-up, .broker-wrap .broker-qrimg .arr-up i{
    display: inline-block;
    width: 0;
    height: 0;
    top: -10px;
    left: 21px;
    position: absolute;
    border-bottom: 10px solid #d8d8d8;
    border-left: 10px dashed transparent;
    border-right: 10px dashed transparent;
}
.broker-wrap .broker-qrimg .arr-up i{
    top: 1px;
    left: -10px;
    border-bottom: 10px solid #fff;
}
.broker-wrap .broker-qrimg p{
    color: #666;
    font-size: 1.166666rem;
}
.broker-wrap .broker-qrimg img{
    width: 70px;
    height: 70px;
    margin-top: 20px;
}
.broker-wrap .broker-morehouse{
    display: inline-block;
    font-size: 1rem;
    color: #1f64b2;
    line-height: 36px;
    margin-top: 6px;
    width: auto;
    height: auto;
    margin: 0;
    border: 0;
}
.broker-wrap .broker-morehouse:hover{
    text-decoration: underline;
}
.broker-level{
    position: relative;
    z-index: 10;
    height: 39px;
    line-height: 39px;
    font-size: 14px;
}
.broker-level{
    padding-top: 4px;
    margin-left: 20px;
    line-height: 32px;
    height: 32px;
}
.wrapper-rg .broker-level{
    width: initial;
}
.brokercard-scoretitle, .stars-title{
    margin-right: 6px;
}
.broker-level .stars-title{
    float: left;
    margin-top: 1px;
    font-size: 12px;
    color: #999;
}
.stars-wrap-bk{
    float: left;
    cursor: pointer;
    position: relative;
    height: 30px;
    display: inline-block;
    margin-top: 3px;
}
.broker-level .tip-box{
    display: none;
    position: absolute;
    bottom: 36px;
    left: 7px;
    padding: 0 10px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    white-space: nowrap;
    font-size: 1rem;
    border-radius: 4px;
}
.broker-level .tip-box p{
    color: #666;
    height: 32px;
    line-height: 32px;
}
.broker-level .tip-box .icon-arrow{
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 35px;
    top: 47px;
    margin-top: -14px;
    border-top: 6px solid #e6e6e6;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
}
.broker-level .tip-box .icon-arrow span{
    display: block;
    overflow: hidden;
    position: absolute;
    height: 0;
    width: 0;
    left: -6px;
    top: -8px;
    border-top: 6px solid #fff;
    border-left: 6px dashed transparent;
    border-right: 6px dashed transparent;
}
.brokercard-scorewrap{
    display: inline-block;
    cursor: pointer;
}
.brokercard-scorewrap{
    padding: 5px 0 4px;
    margin: 0 0 0 20px;
    display: block;
    line-height: 22px;
}
.brokercard-scoretitle, .stars-title{
    margin-right: 6px;
}
.brokercard-scorewrap .brokercard-scoretitle{
    float: left;
    font-size: 1rem;
    color: #999;
}
.brokercard-scorewrap .brokercard-scoretitle{
}
.brokercard-scorewrap .brokercard-scoredetail{
    display: inline-block;
    position: relative;
    float: left;
}
.brokercard-scorewrap .brokercard-scoredetail{
}
.no-pd-left{
    padding-left: 0!important;
}
.brokercard-scoredetail .brokercard-sd-cont span{
    float: left;
    padding: 0 18px;
    color: #999;
    border-right: 1px solid #e6e6e6;
}
.brokercard-scoredetail .brokercard-sd-cont span{
    padding: 0 10px;
}
.brokercard-scoredetail .brokercard-sd-cont em{
    float: left;
    line-height: 22px;
    font-size: 1rem;
}
.brokercard-scoredetail .brokercard-sd-cont .score-num{
    float: left;
    line-height: 22px;
    font-size: 1rem;
}
.brokercard-scoredetail .score-up .score-num{
    color: #e54b00;
}
.brokercard-scoredetail .brokercard-sd-tip{
    display: none;
    position: absolute;
    padding: 7px 14px;
    font-size: 1rem;
    line-height: 26px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background: #fff;
    z-index: 11;
    bottom: 35px;
    left: -22px;
    color: #666;
}
.brokercard-scoredetail .brokercard-sd-tip .arr-down, .brokercard-scoredetail .brokercard-sd-tip .arr-down i{
    width: 0;
    height: 0;
    top: 93px;
    left: 21px;
    position: absolute;
    border-top: 10px solid #e6e6e6;
    border-left: 10px dashed transparent;
    border-right: 10px dashed transparent;
}
.brokercard-scoredetail .brokercard-sd-tip .arr-down i{
    top: -11px;
    left: -10px;
    border-top: 10px solid #fff;
}
.brokercard-scoredetail .brokercard-sd-tip div{
    white-space: nowrap;
}
.brokercard-scoredetail .brokercard-sd-tip .mg-r{
    padding-right: 20px;
    display: inline-block;
    width: 93px;
    position: relative;
}
.brokercard-scoredetail .mg-r .score-tag{
    display: inline-block;
    position: absolute;
    right: 12px;
    vertical-align: top;
    font-style: normal;
    margin: 6px 0 0 3px;
    width: 14px;
    height: 14px;
    font-size: 1rem;
    color: #fff;
    line-height: 14px;
    text-align: center;
    border-radius: 2px;
}
.brokercard-scoredetail .score-up .score-tag{
    background-image: url("/images/view/12.png");
    background-size: 14px 14px;
}
.broker-wrap .brokercard-medal{
    padding-left: 20px;
    font-size: 12px;
    color: #999;
    margin: 0;
    height: 32px;
    line-height: 32px;
}
.brokercard-medal .jjr-medal{
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
.broker-wrap .broker-company{
    font-size: 1.166666rem;
    line-height: 32px;
    padding: 0 20px;
}
.broker-wrap .broker-company p{
    color: #999;
    font-size: 1rem;
}
.broker-wrap .broker-company a{
    color: #2666b2;
    font-size: 1rem;
    max-width: 168px;
    margin: -2px 5px 0 8px;
    display: inline-block;
    vertical-align: middle;
}
.broker-wrap .broker-company a:hover{
    text-decoration: underline;
}
.text-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.broker-wrap .card-text{
    line-height: 32px;
}
.broker-wrap .broker-company p{
    color: #999;
    font-size: 12px;
}
.chat-card{
    width: 100%;
    text-align: center;
}
.chat-card.show{
    display: block;
}
.chat-card .chat-img{
    width: 115px;
    padding-top: 16px;
}
.chat-card .chat-word{
    line-height: 20px;
    padding-top: 19px;
    font-size: 1.333333rem;
    color: #333;
}
#propSimilarBox{
    margin-bottom: 14px;
}
.recbox .ajax_prop{
    padding-top: 10px;
}
.wrapper-rg .fix_con .ajax_prop{
    border: 1px solid #e6e6e6;
    margin-top: 20px;
}
.ajax_prop .title{
    position: relative;
}
.ajax_prop .title h4{
    padding-bottom: 2px;
}
.fix_con .ajax_prop .title h4{
    height: 32px;
    margin-top: 7px;
    font-size: 1.333333rem;
    text-indent: 20px;
    line-height: 32px;
    font-weight: normal;
}
.fix_con .ajax_prop .box{
    padding: 0;
    border: 0;
}
.cf{
    zoom: 1;
}
.fix_con .ajax_prop ul{
    width: 200px;
}
.fix_con .ajax_prop ul{
    margin: 0 0 0 24px;
}
.rec_common_con{
    width: 210px;
    display: block;
    font-size: 1rem;
    line-height: 12px;
    position: relative;
    margin-left: 20px;
}
.ajax_prop ul li{
    float: left;
}
.fix_con .ajax_prop ul li{
    position: relative;
    margin: 0 auto 24px;
}
.fix_con .ajax_prop ul li{
    margin-bottom: 24px;
}
.rec_common_con .rec_common_img{
    width: 210px;
    height: 162px;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}
.rec_common_con a.rec_common_title{
    color: #333;
    width: 210px;
    overflow: hidden;
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 1.166666rem;
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rec_common_con .rec_common_price{
    color: #e54b00;
    float: left;
    height: 22px;
    font-size: 1.166666rem;
    line-height: 22px;
}
.rec_common_con .rec_common_info{
    float: right;
    color: #737373;
    line-height: 22px;
}
.rec_common_con .rec_common_name{
    z-index: 1;
    top: 132px;
    left: 0;
    height: 30px;
    color: #fff;
    width: 100%;
    display: block;
    font-size: 1.166666rem;
    overflow: hidden;
    position: absolute;
    line-height: 30px;
    text-indent: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rec_common_con .name-bg{
    width: 100%;
    height: 30px;
    top: 132px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    background-color: #333;
}
.rec_common_title:hover{
    text-decoration: underline;
}
.esf-axf{
    z-index: 10;
    position: absolute;
    top: 10px;
    width: 50px;
    height: 18px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 18px;
    font-size: 12px;
    background: #62ab00;
    color: #fff;
    text-align: center;
}
.ifx-xinfang-wrap{
    border: 1px solid #e6e6e6;
    margin-top: 20px;
}
.recommend-wrap{
    padding: 7px 0 14px 24px;
}
.kfs-recommend{
    margin-bottom: 10px;
}
.recommend-wrap .recommend-title{
    height: 32px;
    font-size: 1.333333rem;
    line-height: 32px;
    margin-top: 9px;
}
.recommend-wrap ul li{
    width: 210px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}
.recommend-wrap ul li .img-wrap{
    position: relative;
    display: block;
}
.recommend-wrap ul li .commu-desc{
    font-size: 1.166666rem;
    overflow: hidden;
    text-indent: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    top: 132px;
    left: 0;
    height: 30px;
    line-height: 30px;
    color: #fff;
    width: 100%;
    z-index: 2;
}
.recommend-wrap ul li .commu-bg{
    width: 100%;
    height: 30px;
    top: 132px;
    left: 0;
    opacity: .5;
    position: absolute;
    background-color: #333;
}
.recommend-wrap ul li .commu-info{
    height: 20px;
    line-height: 20px;
}
.recommend-wrap ul li .commu-info em{
    float: left;
    color: #f60;
    font-size: 1.166666rem;
}
.recommend-wrap ul li .commu-info span{
    color: #666;
    float: right;
    margin-right: 8px;
}
.recommend-wrap ul li .commu-info .commu-area{
    margin-right: 4px;
}
.recommend-wrap ul li img{
    width: 210px;
    height: 162px;
}
/*房屋信息*/
.block-title{
    font-size: 1.666666rem;
    font-weight: bold;
    line-height: 44px;
    margin-top: 39px;
    padding-bottom: 2px;
    overflow: hidden;
}
.houseInfo-title{
    margin: 25px 0 16px;
    border-bottom: 1px solid #e6e6e6;
    overflow: inherit;
}
.houseInfo-title .house-encode{
    float: right;
    font-size: 1rem;
    margin-top: 3px;
    font-weight: normal;
    color: #999;
}
.no-bd-top{
    border-top-width: 0;
}
.houseInfo-detail-list{
    font-size: 1.166666rem;
}
.houseInfo-detail-item{
    float: left;
    line-height: 21px;
    height: 21px;
    margin-bottom: 7px;
    width: 300px;
}
.houseInfo-detail-item:nth-child(3n+1){
    width: 410px;
}
.text-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.houseInfo-detail-item .houseInfo-label{
    float: left;
    padding-right: 4px;
    color: #999;
}
.houseInfo-detail-item:nth-child(3n+2){
    width: 235px;
}
.houseInfo-detail-item:nth-child(3n){
    width: 240px;
}
.houseInfo-detail-item:nth-child(3n+1) .loc-text{
    max-width: 300px;
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.houseInfo-wrap a:hover{
    text-decoration: underline;
}
.houseInfo-desc{
    overflow: hidden;
    margin-top: 20px;
}
.houseInfoBox .houseInfo-desc{
    margin: 20px 27px 10px 0;
}
.houseInfo-item{
    margin-bottom: 10px;
}
.houseInfo-item-title{
    position: relative;
    font-size: 16px;
    line-height: 37px;
    color: #62ab00;
    border-bottom: 1px dotted #e6e6e6;
    margin-bottom: 11px;
}
.houseInfo-item-desc{
    font-size: 1.166666rem;
    line-height: 32px;
    padding-right: 50px;
}
.js-house-explain{
    overflow: hidden;
}
.houseInfo-item .safe-intro{
    margin-top: 25px;
    line-height: 20px;
    font-size: 1.166666rem;
}
.safe-intro .safe-icon{
    height: 20px;
    vertical-align: -4px;
}
.safe-intro .safe-word{
    font-weight: 700;
    color: #333;
    padding-left: 11px;
}
.safe-intro .safe-link{
    color: #1f64b2;
    margin-left: 5px;
}
.safe-intro .safe-link:hover{
    text-decoration: underline;
}
.houseInfo-detail-item a{
    color: #2666b2;
}
.houseInfo-detail-item a:visited{
    color: #1f64b2;
}
.houseInfo-item-tags{
    margin-top: 20px;
    margin-bottom: 11px;
}
.tags-service{
    float: left;
    padding: 4px 15px;
    background: #f2f6ed;
    font-size: 1rem;
    line-height: 16px;
    border-radius: 12px;
    color: #799374;
    margin-right: 10px;
}
.tags-money{
    color: #eb8a74;
    background: #fcf4f2;
}
.comm-intrest-house{
    margin-top: -17px;
}
.comm-intrest-house .title{
    padding-top: 35px;
}
.comm-intrest-house .title{
    position: relative;
}
.comm-intrest-house .title h4{
    font-size: 1.666666rem;
    font-weight: bold;
    line-height: 44px;
    padding-bottom: 2px;
}
.cf{
    zoom: 1;
}
.comm-intrest-house ul{
    margin-left: -20px;
}
.comm-intrest-house ul li{
    float: left;
    margin-left: 20px;
}
.esf-axf{
    z-index: 10;
    position: absolute;
    top: 10px;
    width: 50px;
    height: 18px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 18px;
    font-size: 1rem;
    background: #62ab00;
    color: #fff;
    text-align: center;
}
.rec_common_con .rec_common_img{
    width: 210px;
    height: 162px;
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
}
.rec_common_con a.rec_common_title{
    color: #333;
    width: 210px;
    overflow: hidden;
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 1.166666rem;
    margin-top: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rec_common_con .rec_common_price{
    color: #e54b00;
    float: left;
    height: 22px;
    font-size: 1.166666rem;
    line-height: 22px;
}
.rec_common_con .rec_common_info{
    float: right;
    color: #737373;
    line-height: 22px;
}
.rec_common_con .rec_common_name{
    z-index: 1;
    top: 132px;
    left: 0;
    height: 30px;
    color: #fff;
    width: 100%;
    display: block;
    font-size: 1.166666rem;
    overflow: hidden;
    position: absolute;
    line-height: 30px;
    text-indent: 6px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.rec_common_con .name-bg{
    width: 100%;
    height: 30px;
    top: 132px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    background-color: #333;
}
.block-title{
    font-size: 1.666666rem;
    font-weight: bold;
    line-height: 44px;
    margin-top: 39px;
    padding-bottom: 2px;
    overflow: hidden;
}
.comm-jd-title a, .block-title .comm-jd-link2{
    font-size: 1rem;
    color: #999;
    font-weight: 400;
    margin-top: 4px;
}
.comm-jd-title .comm-jd-link2, .block-title .comm-jd-link2{
    float: right;
}
.block-title .comm-jd-link2:hover{
    text-decoration: underline;
}
.cmmmap-info{
    width: 900px;
    height: 84px;
    background: #f7f7f7;
    margin-top: 10px;
    position: relative;
    font-size: 1.166666rem;
    overflow: hidden;
}
.commap-info-logo{
    position: absolute;
    left: 40px;
    top: 15px;
}
.commap-info-intro{
    float: left;
    padding: 0 38px;
    height: 36px;
    border-right: 1px solid #e6e6e6;
    margin-top: 24px;
    z-index: 10;
}
.commap-info-fst{
    margin-left: 92px;
}
.commap-info-intro p{
    line-height: 30px;
}
.commap-info-intro .cminfo-title{
    margin-top: -12px;
    position: relative;
}
.commap-info-intro .info-normal{
    font-weight: 400;
    font-size: 1.166666rem;
}
.cmmmap-info .no-border-rg{
    border-right-width: 0;
}
.commap-info-intro .info-bd{
    font-weight: 700;
    font-size: 1.333333rem;
}
.comm-jd-title .comm-jd-link1{
    margin-left: 10px;
}
.comm-jd-title .comm-jd-link1:hover{
    text-decoration: underline;
}
.experts-list{
    border-top: 1px solid #e6e6e6;
    overflow: hidden;
}
.experts-list li{
    margin-top: 19px;
}
.experts-list .comment-info{
    float: left;
    width: 730px;
    padding: 0 60px 0 0;
    border-right: 1px solid #f1f1f1;
}
.experts-list .info-character dt{
    float: left;
    width: 40px;
    height: 100%;
    margin-top: 6px;
}
.experts-list .good-character dd{
    color: #666;
    font-size: 1.166666rem;
    line-height: 30px;
    margin-left: 58px;
}
.experts-list .good-character dd{
    margin: 0 0 3px 134px;
}
.experts-list .info-character dd label{
    color: #333;
}
.experts-list .good-character dd label{
    margin-left: -83px;
}
.experts-list .info-character dt span{
    display: inline-block;
    color: #fff;
    width: 40px;
    height: 18px;
    line-height: 18px;
    text-align: center;
}
.experts-list .good-character dt span{
    background-color: #62ab00;
}
.experts-list .bad-character dt span{
    background-color: #aaa;
}
.experts-list .bad-character dd{
    color: #666;
}
.experts-list .bad-character dd{
    font-size: 1.166666rem;
    line-height: 30px;
    margin-left: 58px;
}
.experts-list .expert-info{
    float: right;
    width: 100px;
    text-align: center;
}
.experts-list .expert-info .info-brokername{
    color: #333;
    font-size: 1.333333rem;
    margin-top: 7px;
    font-weight: 700;
}
.experts-list .expert-info .info-brokername img{
    width: 14px;
    vertical-align: -2px;
}
.experts-list .expert-info .info-img img{
    width: 54px;
    height: 72px;
}
/*悬浮条*/
.topBar-wrap{
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #62ab00;
    z-index: 2000;
    display: none;
    opacity: 0.9;
    position: fixed;
}
.topBar-wrap .topBar-cont{
    color: #fff;
    width: 1180px;
    height: 100%;
    margin: 0 auto;
    line-height: 100%;
}
.topBar-wrap .topBar-cont .houseTitle{
    float: left;
    width: 590px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 70px;
    margin-left: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.topBar-wrap .topBar-cont .brokerInfo{
    float: right;
    font-size: 1.333333rem;
    line-height: 70px;
    font-weight: bold;
    margin-right: 13px;
}
.topBar-wrap #brokerInfoV2{
    width: 217px;
    text-align: center;
    cursor: pointer;
    background: #4a8200;
    font-weight: 400;
    height: 70px;
    line-height: 70px;
}
.topBar-wrap .topBar-cont .houseInfo{
    float: right;
    font-size: 1.333333rem;
    line-height: 70px;
    margin-right: 54px;
}